{% extends "correction/contestant-base.html" %}
{% load i18n staticfiles %}
{% load bootstrap django_bootstrap_breadcrumbs markup utils %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for 'contest:correction:qualification' edition.year %}{% trans "Qualification" %}{% endbreadcrumb_for %}
  {% breadcrumb_for 'contest:correction:contestant-qualification' edition.year contestant.pk %}{{ contestant.user.username }}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'qcm/qcm.css' %}"/>
{% endblock %}

{% block correction_navigation %}
  {% if quiz_form %}<li><a href="#quiz">{% trans "Quiz results" %}</a></li>{% endif %}
{% endblock %}

{% block correction_content %}
  {% if quiz_form %}
    <h2 id="quiz">{% trans "Quiz answers" %}</h2>
    <ol class="mainlist qcm">
      {% for field in quiz_form %}
        {% with question=field.field.question %}
          <li class="question">
            <div class="body">
              <div class="main">{{ question.body|markdown:0 }}</div>
              {% if question.verbose %}
                <div class="verbose">{{ question.verbose|markdown:0 }}</div>
              {% endif %}
            </div>
            <ul class="propositions">
              {% for proposition in field %}
                <li class="
                  {% if correction %}{% if proposition.instance.is_correct %}correct{% endif %}{% if proposition.is_checked and not proposition.instance.is_correct %}incorrect{% endif %}{% endif %}">
                  {{ proposition }}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endwith %}
      {% endfor %}
    </ol>
  {% endif %}
{% endblock %}

{% block extra_script %}
  {{ block.super }}
  <script type="text/javascript">
    $(function () {
      // Quiz active labels
      $('.propositions').inputToLabels({checkedClass: 'checked'});

      // Assignation from wishes
      var $assignation_event_select = $('select[name="assignation_semifinal_event"]');
      var $assignation_select = $('select[name="assignation_semifinal"]');
      var assigned = {% choiceenum_member 'contest.models.Assignation.assigned' 'value' %};
      $('.event-wish-list li').click(function(e) {
        e.preventDefault();
        var $this = $(this), event_id = $this.attr('data-event-id');
        if ($assignation_select.val() != assigned)
          $assignation_select.val(assigned).addClass('flash');
        if ($assignation_event_select.val() != event_id)
          $assignation_event_select.val(event_id).addClass('flash');
        setTimeout(function() {
          $assignation_select.removeClass('flash');
          $assignation_event_select.removeClass('flash');
        }, 1000);
      })
    });
  </script>
{% endblock %}
