{% extends "prologin/base.html" %}
{% load i18n staticfiles %}
{% load django_bootstrap_breadcrumbs markup utils %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for '' %}{% trans "Contest" %}{% endbreadcrumb_for %}
  {% breadcrumb_for 'contest:correction:index' %}{% trans "Correction" %}{% endbreadcrumb_for %}
  {% breadcrumb_for 'contest:correction:year' edition.year %}{{ edition.year }}{% endbreadcrumb_for %}
  {% breadcrumb_for 'contest:correction:qualification' edition.year %}{% trans "Qualification" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% trans "Qualification" %} {{ edition.year }}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/datatables.min.css' %}">
{% endblock %}

{% block content %}

  <h1>{% trans "Qualification" %} <small>{% blocktrans with year=edition.year %}Prologin {{ year }}{% endblocktrans %}</small></h1>

  <p>{% trans "Show:" %} <a href="#" id="s-all">{% trans "everything" %}</a> ⋅ <a href="#" id="s-complete">{% trans "complete only" %}</a></p>
  {{ datatable }}

{% endblock %}

{% block extra_script %}
  <script type="text/javascript" charset="utf8" src="{% static 'lib/js/datatables.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.js' %}"></script>
  <script type="text/javascript" charset="utf8">
    var dt = datatableview.initialize($('.datatable'), {
      language: { search: "_INPUT_", searchPlaceholder: "Search" },
    }).api();
    var url = dt.ajax.url();
    $('#s-all').click(function(e) {
      e.preventDefault();
      dt.ajax.url(url + '?incomplete=yes').load();
    });
    $('#s-complete').click(function(e) {
      e.preventDefault();
      dt.ajax.url(url).load();
    });
  </script>
{% endblock %}