{% extends "prologin/base.html" %}
{% load i18n staticfiles %}
{% load django_bootstrap_breadcrumbs markup utils %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for '' %}{% trans "Contest" %}{% endbreadcrumb_for %}
  {% breadcrumb_for 'contest:correction:index' %}{% trans "Correction" %}{% endbreadcrumb_for %}
  {% breadcrumb_for 'contest:correction:year' edition.year %}{{ edition.year }}{% endbreadcrumb_for %}
  {% breadcrumb_for 'contest:correction:semifinal' edition.year event.pk %}{% trans "Regional event" %} {{ event.short_description }}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% if event.short_description %}{{ event.short_description }}
– {% endif %}{% trans "Regional event" %} {{ edition.year }}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/datatables.min.css' %}">
{% endblock %}

{% block content %}

  <h1>{% trans "Regional event" %} {{ event.short_description }} <small>{% blocktrans with year=edition.year %}Prologin {{ year }}{% endblocktrans %}</small></h1>

  {{ datatable }}

{% endblock %}

{% block extra_script %}
  <script type="text/javascript" charset="utf8" src="{% static 'lib/js/datatables.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.js' %}"></script>
  <script type="text/javascript" charset="utf8">
    datatableview.auto_initialize = true;
  </script>
{% endblock %}
