{% extends "prologin/base.html" %}
{% load django_bootstrap_breadcrumbs bootstrap %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for 'dashboard:index' %}Dashboard{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  {% for section,statuses in sections.items %}
    <div class="col-md-6">
      <h2>{{section}}</h2>
      <table class="table">
        <tbody>
          {% for s in statuses %}
          {% with sect_i=forloop.parentloop.counter stat_i=forloop.counter %}
          <tr>
            <td>
              <h4><strong>{{ s.name }}</strong></h4>
              <h4>Count: {{s.count}}</h4>
              <h4>Description:</h4>
              <p class="well">{{s.docstring | safe}}</p>
              {% if s.detail %}
              <button class="btn" type="button" data-toggle="collapse" data-target="#detail_{{sect_i}}_{{stat_i}}" aria-expanded="false" aria-controls="detail_{{sect_i}}_{{stat_i}}">Show details</button>
              <div class="collapse well" id="detail_{{sect_i}}_{{stat_i}}">
                {% for elm in s.detail %}
                {{ elm }}{%if not forloop.last%}, {% endif %}
                {% endfor %}
              </div>
              {% endif %}
            </td>
          </tr>
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}
