{% extends "gcc/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "GCC! − Login" %}{% endblock %}
{% block header-popup %}
<div id="header-popup">
    <h2>{% trans "Connect to GCC!" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="text-align: center">
            <button type="submit">{% trans "Connect" %}</button>
        </div>
        <input type="hidden" name="next" value="/gcc/">
    </form>
</div>
{% endblock %}
