{% extends "gcc/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "GCC! − Register" %}{% endblock %}
{% block header-popup %}
<div id="header-popup">
    <h2>{% trans "Register to " %}<a href="{% url 'home' %}">Prologin</a></h2>
    <p>
      <strong>
          You are going to register to the <a href="{% url "home" %}">Prologin website</a>, check out the contest organized by our organisation.
      </strong>
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="text-align: center">
            <button type="submit">{% trans "Register" %}</button>
        </div>
        <input type="hidden" name="next" value="/gcc/">
    </form>
</div>
{% endblock %}
