<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Prologin</title>
    <link>http://www.prologin.org</link>
    <description>Nouvelles</description>
    <lastBuildDate>{% now "r" %}</lastBuildDate>
    <language>fr</language>
    {% for news in latest_news_list %}
    <item>
      <title>{{ news.title }}</title>
      <description>{{ news.body }}</description>
      <pubDate>{{ news.pub_date|date:"r" }}</pubDate>
      <link>http://www.prologin.org{% url 'news:show' news.id %}</link>
    </item>
    {% endfor %}
  </channel>
</rss>
