{% extends "prologin/base.html" %}
{% load i18n l10n staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "centers:map" %}{% trans "The exam centers" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% trans "The exam centers" %}{% endblock %}

{% block extra_head %}
  <style type="text/css">
    #map-canvas-wrap {
      width: 100%;
      min-height: 400px;
    }

    #map-canvas {
      min-height: 400px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }

    .affix {
      position: relative;
      top: 0;
      width: 100%;
    }

    @media (min-width: 993px) {
      .affix {
        top: 20px;
        position: fixed;
      }
    }
  </style>
  <noscript>
    <style type="text/css">
      #map-canvas-wrap {
        width: 100%;
        position: relative;
      }

      #map-canvas-wrap::after {
        position: absolute;
        display: block;
        top: 4em;
        top: calc(50% - 1em);
        left: 0;
        right: 0;
        bottom: 0;
        color: #333;
        text-align: center;
        content: "{% trans "You need Javascript to display the map." %}";
      }
    </style>
  </noscript>
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-6" id="map-canvas-col">
      <div id="map-canvas-wrap" class="affix">
        <div id="map-canvas"></div>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{% trans "Center address" %}</th>
          <th>{% trans "Show" %}</th>
          <th>{% trans "Full map" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for center in centers %}
          <tr>
            <td>
              <strong>{{ center.name }}</strong>
              <address>{{ center.address|title }}<br>{{ center.postal_code }} {{ center.city|title }}</address>
            </td>
            <td>
              <a href="#center-{{ forloop.counter0 }}"
                 onclick="showCenter({{ forloop.counter0 }});">
                <i class="fa fa-map-marker"></i> {% trans "Show" %}</a>
            </td>
            {% localize off %}
              <td>
                <a href="https://www.openstreetmap.org/?mlat={{ center.lat }}&mlon={{ center.lng }}#map=16/{{ center.lat }}/{{ center.lng }}">
                  <i class="fa fa-globe"></i> {% trans "Full map" %}</a></td>
            {% endlocalize %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block extra_script %}
  <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
                         integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                         crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
          integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
          crossorigin=""></script>

  <script type="text/javascript">
    $(function () {
      var mapElement = $('#map-canvas-wrap'), mapColElement = $('#map-canvas-col');

      function applyWidth() {
        mapElement.css('width', mapColElement.width());
      }

      applyWidth();
      resetMapWindow();
      mapElement.affix({
        offset: {
          top: mapColElement.offset().top - 20,
          bottom: $('footer').outerHeight(true)
        }
      });
      $(window).resize(applyWidth);
    });

    function resetMapWindow() {
      map.invalidateSize();
      map.fitBounds(marker_group.getBounds());
    }

    function showCenter(id) {
      var m = center_markers[id];

      // Note: openning the popup *before* calling panTo is important. panTo
      // takes about .25 seconds to animate the panning, and opening the popup
      // right after calling it stops that animation, resulting in a bad map
      // centering. Alternatively, we can tell panTo not to animate the panning,
      // but animations are neat.
      m.openPopup();
      map.panTo(m.getLatLng());
    }

    var map = L.map('map-canvas', {
      center: [47, 32],
      zoom: 5
    });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var center_markers = [];
    function createMarker(lat, lng, title, description) {
      var marker = L.marker([lat, lng], {
        title: title
      }).addTo(map).bindPopup(description);

      center_markers.push(marker);
    };

    var body;
    {% localize off %}
      {% for center in centers %}
        {% if center.has_valid_geolocation %}
          body = "<strong>{{ center.name|escapejs }}</strong><br>" +
            "{{ center.address|title|escapejs }}" +
            "<br>{{ center.postal_code|escapejs }} {{ center.city|title|escapejs }}";
          createMarker({{ center.lat }}, {{ center.lng }}, "{{ center.name|escapejs }}", body);
        {% endif %}
      {% endfor %}
    {% endlocalize %}

    var marker_group = new L.featureGroup(center_markers);

  </script>
{% endblock %}
