public/static
public/media

prologin/prologin/settings/dev.py
prologin/prologin/settings/prod.py
prologin/prologin/settings/semifinal.py

prologin/locale

.idea/
venv/
*.swp
*.pyc
*.aux
*.log
*.pdf
*.bak
*~
node_modules/
