# HTML parser
beautifulsoup4
# HTML sanitizer (Markdown escaping)
bleach
# For async tasks (sending mails, correcting submissions, etc.)
celery
# Django
django<1.11
# For ordered models (QCM questions, semifinal whishes, etc.)
django-admin-sortable
# News / blog
django-blog-zinnia
# Breadcrumbs
django-bootstrap-breadcrumbs>=0.7.0
# Bootstrap-formatted forms
django-bootstrap-form>=3.1
# Bootstrap-formatted forms (other lib) # TODO: find a single good lib
django-bootstrap3
# Content Security Policy, helps prevent XSS & stuff
# TODO: too restrictive to be used properly
# django-csp
# Back-end wrapper for Datatable (jQuery plugin for dynamic table)
# TODO: use upstream version when it's unfucked
git+https://github.com/Zopieux/django-datatable-view.git@prologin
# Debug Toolbar
django-debug-toolbar
# Form wizards (they were a Django builtin, but split as of 1.8)
django-formtools
# Impersonation framework
git+https://github.com/Zopieux/django-hijack.git@prologin
# Export metrics for prometheus monitoring
django-prometheus
# Google Recaptcha/Nocaptcha support
django-recaptcha
# Model history tracking
django-reversion
# Generate static templates (for 5xx error pages served by nginx, mainly)
django-statictemplate
# Model tagging support
django-tagging
# Model TimezoneField
django-timezone-field>=2.0rc1
# Micro mail framework for plaintext/HTML mails
djmail>=0.10.0
# Tool to query Geoip services for exam center geo-localization
geopy
# Non-sucky template engine
jinja2
# XML parsing (eg. corrector communication)
lxml
# Markdown support
markdown>=2.4
# Image manipulation support, previously known as PIL
pillow>=2.4
# Github-flavored Markdown
py-gfm
# Postgres database connector
psycopg2>=2.5
# Code highlighting
pygments>=2.0.2
# YAML support
pyyaml
# HTTP queries
requests
# Celery storage & broker for async tasks
redis
# Generic rules/permissions
rules
# Transifex client for translation pull/push
transifex-client
# ImageMagick wrapper
wand

# MySQL database connector (for Drupal legacy) (uncomment if needed)
# mysqlclient
