# For code charset detection
chardet
# For async tasks (sending mails, correcting submissions, etc.)
celery
# Django
django<1.9
# For ordered models (QCM questions, semifinal whishes, etc.)
django-admin-sortable
# BetterForms: allows merged ModelForms
# TODO: use PyPi version when Django 1.8 PR eventually gets merged; ref. https://github.com/fusionbox/django-betterforms/pull/30
git+https://github.com/frankier/django-betterforms.git@django1.8
# News / blog
django-blog-zinnia==0.15.2
# Breadcrumbs
django-bootstrap-breadcrumbs>=0.7.0
# Bootstrap-formatted forms
django-bootstrap-form>=3.1
# Content Security Policy, helps prevent XSS & stuff
django-csp
# Debug Toolbar
django-debug-toolbar
# Google Recaptcha/Nocaptcha support
django-recaptcha
# Model tagging support
django-tagging
# Model TimezoneField
django-timezone-field
# Micro mail framework for plaintext/HTML mails
djmail>=0.10.0
# This is a fork for 1.8 compat
git+https://github.com/worldveil/django-templates-macros.git#egg=django-templates-macros
# Tool to query Geoip services for exam center geo-localization
geopy
# JSONField() for models
jsonfield
# XML parsing (eg. corrector communication)
lxml
# Markdown support
markdown>=2.4
# Advanced markdown support
mistune==0.7.1
# Image manipulation support, previously known as PIL
pillow>=2.4
# Postgres database connector
psycopg2>=2.5
# Code highlighting
pygments>=2.0.2
# MySQL database connector (for Drupal legacy)
mysqlclient
# HTTP queries
requests
# Celery storage & broker for async tasks
redis
# Generic rules/permissions
rules
# Transifex client for translation pull/push
transifex-client==0.11b3