{% extends "gcc/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "GCC! − Application" %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static " gcc/css/form.css"%}"> {% endblock %} {% block content %} <section class="wrapper">
<div class="title">{% trans "Application" %}</div>
<div class="container">
    <h2>{% trans "Application Form" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="halo-button" type="submit" value="{%trans "Validate and seclect my wishes" %}">
    </form>
</div>
</section>
{% endblock %}
