{% extends "gcc/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "GCC! − Validation" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static " gcc/css/form.css"%}">
{% endblock %}

{% block content %}
<section class="wrapper">
<div class="title">{% trans "Validate your application" %}</div>
<div class="container">
    <h2>{% trans "Be careful after this you won't be able to change your answers or event wishes." %}</h2>
    <form method="post">
        {% csrf_token %}
        <center><button class="btn btn-default" type="submit"><i class="fa fa-save"></i> {% trans "Validate application" %}</button></center>
    </form>
</div>
</section>
{% endblock %}
