{% extends "gcc/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "GCC! − Application" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static " gcc/css/form.css"%}">
<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" />
{% endblock %}

{% block content %}
<section class="wrapper">
<div class="title">{% trans "Summer camps locations" %}</div>
<div class="container">
    <h2>{% trans "Choose my location wishes" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <center>
            <input class="halo-button" type="submit" value="{% trans "Confirm my application" %}">
        </center>
    </form>
</div>
</section>
<section class="wrapper">
    <div class="title">{% trans "Available centers" %}</div>
    <div class="container">
        {% for event in events %}
        <a href="{% url "centers:map" %}"><h3>{{ event.center.name }}</h3></a>
        <p>
            {% blocktrans with start=event.event_start end=event.event_end %}From {{start}} to {{end}}{% endblocktrans %}<br />
            {{event.center.address}}, {{event.center.postal_code}} {{event.center.city}}<br />
            {% blocktrans with signup_end=event.signup_end %}Inscription close the {{signup_end}} {% endblocktrans %}
        </p>
        {% endfor %}
    </div>
</section>
{% endblock %}
