{% load i18n staticfiles %}
<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

  <title>{% block super_title %}{% block title %}{% endblock %} – Marauder – Prologin{% endblock %}</title>

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="manifest" href="{% static 'marauder/manifest.json' %}">

  {# TODO: self host: https://github.com/google/material-design-icons/tree/master/iconfont #}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'marauder/ionic.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'marauder/marauder.css' %}?201601"/>
  {% block extra_head %}{% endblock %}

  <script src="{% static 'lib/js/jquery.min.js' %}"></script>
  <script src="{% static 'marauder/ionic.bundle.min.js' %}"></script>
  <script src="{% static 'marauder/moment.min.js' %}"></script>
  {#  <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol-debug.js"></script>#}
  <script src="{% static 'marauder/ol.js' %}"></script>
  <script src="{% static 'marauder/angular-moment.min.js' %}"></script>
  <script src="{% static 'marauder/moment.fr.js' %}"></script>
  <script src="{% static 'marauder/marauder.js' %}?201601"></script>
  {% block extra_script %}{% endblock %}

</head>
<body class="platform-android">

{% block content %}{% endblock %}

</body>
</html>
