{% extends "marauder/base.html" %}
{% load i18n staticfiles %}

{% block title %}Prologin {{ event.edition.year }} – {{ event.center.name }}{% endblock %}

{% block content %}

  <ion-header-bar class="bar bar-header">
    <img src="{% static 'marauder/logo.svg' %}"/>
    <h1 class="title">Prologin {{ event.edition.year }} – {{ event.center.name }}</h1>
    <div class="buttons">
      <button class="button button-icon" ng-click="$root.popover.show($event)"><i class="material-icons">more_horiz</i>
      </button>
    </div>
  </ion-header-bar>

  <ion-nav-view></ion-nav-view>

  <script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-positive">

      <ion-tab title="Task forces" href="#/tab/taskforces">
        <ion-nav-view name="taskforces-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Map" href="#/tab/map">
        <ion-nav-view name="map-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </script>

  {% comment %}<div class="bar bar-footer">
    <button class="button button-clear pull-right"><i class="material-icons">map</i></button>
  </div>{% endcomment %}

  {% include "marauder/page/taskforces.html" %}
  {% include "marauder/page/map.html" %}

  <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <a class="item" href="#" ng-click="reloadApp()">
            <i class="material-icons">autorenew</i> Recharger
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>

{% endblock %}
