{% extends "prologin/base.html" %}
{% load static %}
{% block title %} – L'équipe {{ year }}{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb Accueil home %}
{% breadcrumb "L'équipe" team:index %}
{% breadcrumb year %}
{% endblock %}

{% block content %}
<div id="team-select-year">
  <div class="btn-group" id="team-select-year">
    {% for team in timeline %}
    <a class="btn{% if team.year == year %} active{% endif %}" href="/team/{{ team.year }}">{{ team.year }}</a>
    {% endfor %}
  </div>
</div>
<header class="page-header">
  <h1>L'équipe {{ year }}</h1>
</header>
<ul class="thumbnails">
  {% for member in team %}
  <li class="span3 team-member thumbnail">
    <img src="{% static 'team/'|add:member.pic|add:".jpg" %}" alt="">
    <div class="caption">
      <span class="label {% if member.role.rank <= 4 %}label-important{% else %}label-success{% endif %}">{{ member.role }}</span>
      <h3>{{ member.user.username }}</h3>
      <h3>{{ member.user.first_name }} {{ member.user.last_name }}</h3>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
