{% extends "prologin/base.html" %}
{% load static %}
{% block title %} – L'équipe {{ year }}{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb Accueil home %}
{% breadcrumb "L'équipe" team:index %}
{% breadcrumb year %}
{% endblock %}

{% block content %}
<div id="team-select-year" class="navbar">
  <ul class="nav navbar-nav">
    {% for team in timeline %}
    <li{% if team.year == year %} class="active"{% endif %}><a href="{% url 'team:year' team.year %}">{{ team.year }}</a></li>
    {% endfor %}
  </ul>
</div>

<header class="page-header">
  <h1>L'équipe {{ year }}</h1>
</header>

<div class="row">
  {% for member in team %}
  <div class="col-lg-3 team-member">
    <div>
      <img src="{% static 'users/avatars/'|add:member.profile.short_name|add:'/'|add:member.profile.short_name|add:'_medium.png' %}" alt="{{ member.profile.user.username }}" title="{{ member.profile.user.username }}">
      <div>
	<span class="label {% if member.role.rank <= 10 %}label-danger{% else %}label-success{% endif %}">{{ member.role }}</span>
	<h3><a href="{% url 'users:profile' member.profile.short_name %}">{{ member.profile.user.username }}</a></h3>
	<h3>{{ member.profile.user.first_name }} {{ member.profile.user.last_name }}</h3>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
