.applicant-list > li {
    list-style: none;
    display: block;
    padding: 8px;
}

.applicant-list > li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}

.applicant-list > li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
}

.applicant-list > li:not(.selected) {
    margin: 0 4px 0 4px;
}

.applicant-list > li.selected {
    margin: 10px 0 10px 0;
}

.applicant-list .applicant-head {
    cursor: pointer;
}

.applicant-list > li:not(.selected) > .detail {
    display: none;
}

.applicant-list > li.selected > .detail {
    display: block;
    margin: 8px -8px -8px -8px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.02);
    font-size: 12px;
}

.applicant-list .detail > p {
    display: block;
}

.applicant-list .detail-section h1 {
    font-size: 13px;
    overflow: hidden;
    margin: 8px 0 5px -5px;
    color: lightgreen;
}

.applicant-list .detail-section h1:after {
    content:'';
    display:inline-block;
    width:100%;
    height: 4px;
    /* padding: 10px 0 10px 0px; */
    margin-left: 10px;
    margin-right:-100%;
    border-top: 1px solid var(--color5);
}

.applicant-list .detail-section {
    margin-left: 5px;
}

.applicant-list .btn {
    display: inline-block;
    padding: 5px;
    margin: 0 5px 0 5px;
    text-decoration: none;
    background-color: var(--color5);
    color: lightgrey;
}

.applicant-list .btn-little {
    font-size: 8px;
    padding: 1px;
    margin: 0 0 0 1px;
    border-radius: 3px;
}

/* List of labels displayed on the right */

.applicant-list .label-list {
    float: right;
}

.applicant-list .label {
    display: inline-block;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
    border-radius: 9px;
    background: var(--color1);
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.applicant-list .label:hover::after {
    content: "🗙";
    position: absolute;
    right: 0;
    width: 100%;
    margin-right: 5px;
    font-size: 10px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    background: linear-gradient(0.25turn, rgba(0,0,0,0), var(--color1));
}

/* Table for generic informations on the candidate */

.applicant-list .recap {
    width: 100%;
}

.applicant-list .recap td:first-child {
    max-width: 90px;
    color: var(--color5);
}

/* Form */

.applicant-list h5 {
    font-size: 13px;
    color: lightblue;
    margin: 0 0 5px;
}

.applicant-list p {
    margin: 5px 5px 5px 10px;
    /* color: lightgreen; */
}

/* Dropdown menu to add labels */

.labeladd-btn {
    color: var(--color5);
    font-size: 14px;
    border: none;
    background: none;
    float: right;
    padding: 0 6px;
    margin-left:  5px;
    border: 1px dotted var(--color5);
    border-radius: 10px;
    margin-left: 5px;
}

.labeladd-dropdown {
    display: inline-block;
    position: relative;
    float: right;
}

.labeladd-dropdown-content {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.labeladd-dropdown-content a {
    color: white;
    padding: 3px 5px;
    font-size: 9pt;
    text-decoration: none;
    display: block;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.6);
}

.labeladd-dropdown-content a:hover {
    background-color: var(--color5);
}

.labeladd-dropdown:hover .labeladd-dropdown-content {
    display: block;
}
