/* photo collage */
section#collage {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), center url("../img/collage_greyscale.jpg");
	background-size: cover;
	min-height: 70vh;
}

section#collage div {
	margin: auto;
}

/* newsletter signup */
section#newsletter-signup {
	background: var(--background);
	color: #ffffff;
}

section#newsletter-signup label {
	position: absolute;
	background: var(--background);
	margin-left: 0.3em;
	padding: 0 0.2em;
}

section#newsletter-signup input[type=email] {
	margin-top: .8rem;
	background: var(--background);
	border: 2px #ffffff solid;
	padding: 1rem;
	width: 100%;
	border-radius: 4px;
	font-size: 1.2rem;
	color: var(--foreground);
}

.faq {
    list-style: none;
}

.faq strong {
    color: var(--color2);
    font-size: 18px;
    margin-left: -10px;
}

.faq p {
    margin: 10px 0 10px;
}
