/* newsletter signup */
section#newsletter-signup {
	background: var(--background);
	color: #ffffff;
}

section#newsletter-signup label {
	position: absolute;
	background: var(--background);
	margin-left: 0.3em;
	padding: 0 0.2em;
}

section#newsletter-signup p {
    text-align: center;
}

section#newsletter-signup input[type=email] {
	margin-top: .8rem;
	background: var(--background);
	border: 2px #ffffff solid;
	padding: 1rem;
	min-width: 70%;
	border-radius: 4px;
	font-size: 1.2rem;
	color: var(--foreground);
}

.faq {
    list-style: none;
    padding: 0;
}

.faq strong {
    color: var(--color2);
    font-size: 18px;
}

.faq p {
    margin: 10px 0 10px 10px;
}
