body {
	background: #f5efe5;
	margin: 0;
	padding-top: 56px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	line-height: 56px;
	background: #23221f;
}

header div.container {
	padding-top: 0;
}

header a, header a:hover {
	display: inline-block;
	color: #ffffff;
	padding: 0 5px;
}

header a:hover {
	height: 54px;
	border-bottom: 2px solid #39e0ff;
}

.container {
	padding-top: 2rem;
}
