{% extends "gcc/base.html" %}
{% load static %}

{% block content %}
	<!-- Intro -->
	<section id="intro" class="wrapper style2">
		<div class="container">
			<div class="title">Édition 2018</div>

			<div class="cotainer">
				<div class="row">
					<div class="off-1 col-2 col-4-medium off-0-small col-12-small" style="text-align: center;">
						<a href="{{url}}" style="max-width: 300px;">
							<img src="{% static 'gcc/img/posters/2018.full.jpg' %}" style="max-width: 100%;" />
						</a>
					</div>
					<div class="col-8 col-8-medium off-0-small col-12-small">
						<div style="min-height: 100%; text-align:left;">
							<p style="font-size: 1.1em;">
								Cette année, l'organisation d’un stage Girls Can Code! à <strong>Nantes</strong> est délégué à l’association Adn-ouest Atlantic 2020, Prologin quant-à elle organise à nouveau les stages de <strong>Paris</strong> et <strong>Lyon</strong>.<br />
								Ces stages qui accueillent au total <strong>70 participantes</strong> voient l’arrivée d’un TP sur les <strong>microcontrôleurs microbit</strong> qui, avec le TP jeux vidéo, donnent la possibilité d’exprimer sa créativité.
							</p>
							<div style="overflow-x: hidden; white-space: nowrap;">
								<a href="https://flic.kr/s/aHsmi4bcXd">
									<img style="display: inline-block; height: 100px; margin: 0;" src="{% static 'gcc/img/photos/2018/01.jpg' %}" /><img style="display: inline-block; height: 100px; margin: 0;" src="{% static 'gcc/img/photos/2018/02.jpg' %}" /><img style="display: inline-block; height: 100px; margin: 0;" src="{% static 'gcc/img/photos/2018/03.jpg' %}" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="intro" class="wrapper style3">
		<div class="container">
			<div class="title">Édition 2017</div>

			<div class="row">
				<div class="off-1 col-8 col-8-medium off-0-small col-12-small">
					<div style="min-height: 100%; text-align:left;">
						<p style="font-size: 1.1em;">
							En 2017, Prologin se lance un grand défi, l’organisation de 3 stages Girls Can Code!, un à <strong>Bordeaux</strong> en juillet et deux et ceux de <strong>Paris</strong> et <strong>Lyon</strong> en parallèle la dernière semaine aout, pour un total de <strong>52 participantes</strong> !
						</p>
						<div style="overflow-x: hidden; white-space: nowrap;">
							<a href="">
								<img style="display: inline-block; height: 100px; margin: 0;" src="{% static 'gcc/img/photos/2018/01.jpg' %}" /><img style="display: inline-block; height: 100px; margin: 0;" src="{% static 'gcc/img/photos/2018/02.jpg' %}" /><img style="display: inline-block; height: 100px; margin: 0;" src="{% static 'gcc/img/photos/2018/03.jpg' %}" />
							</a>
						</div>
					</div>
				</div>
					<div class="col-2 col-4-medium off-0-small col-12-small" style="text-align: center;">
						<a href="{{url}}" style="max-width: 300px;">
							<img src="{% static 'gcc/img/posters/2017.full.jpg' %}" style="max-width: 100%;" />
						</a>
					</div>
			</div>
		</div>
	</section>

	<section id="intro" class="wrapper style2">
		<div class="container">
			<div class="title">Édition 2016</div>

			<div class="row">
				<div class="off-2-large col-8-large off-1 col-10 off-1-medium col-10-medium off-0-small col-12-small">
					<div style="min-height: 100%; text-align: center;">
						<p style="font-size: 1.1em;">
							Les <strong>18 participantes</strong> avaient cette année des niveaux très hétéroclytes donc le stage c’est organisé en groupe de niveau et le stage à vue l’arrivée d’un <strong>TP réseau</strong> où l’on crée un petit client de chat.
						</p>
						<a href="https://flic.kr/s/aHskCyYBke">
							<img style="max-height: 400px; max-width: 100%;" src="{% static 'gcc/img/photos/2018/01.jpg' %}" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="intro" class="wrapper style3">
		<div class="container">
			<div class="title">Édition 2015</div>

			<div class="row">
				<div class="off-2-large col-8-large off-1 col-10 off-1-medium col-10-medium off-0-small col-12-small">
					<div style="min-height: 100%; text-align: center;">
						<p style="font-size: 1.1em;">
							En 2015, c’est <strong>12 filles</strong> qui ont pris part à un stage qui initie pour la première fois à des sujets comme le <strong>Web</strong>, la création d’un petit <strong>jeux vidéo</strong> avec la librairie Pygame ou encore l’OS <strong>linux</strong>.
						</p>
						<a href="https://flic.kr/s/aHskjAFpwt">
							<img style="max-height: 400px; max-width: 100%;" src="{% static 'gcc/img/photos/2018/01.jpg' %}" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="intro" class="wrapper style2">
		<div class="container">
			<div class="title">Édition 2014</div>

			<div class="row">
				<div class="off-2-large col-8-large off-1 col-10 off-1-medium col-10-medium off-0-small col-12-small">
					<div style="text-align: center;">
						<p style="font-size: 1.1em;">
							Ce premier stage, a accueilli <strong>10 participantes</strong> pour 5 jours de programmation.
							Centré autour de l'algorithmique, on y a appris à manipuler des structures de données abstraites comme par exemples les <strong>graphes</strong>. Dans les participantes, 2 en particulier ont continué en informatique et sont devenue organisatrices des stages !
						</p>
					</div>
					<img style="max-height: 400px; max-width: 100%;" src="{% static 'gcc/img/photos/2018/01.jpg' %}" />
				</div>
			</div>
		</div>
	</section>
{% endblock %}
