{% extends "gcc/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'gcc/css/editions.css' %}" :>
{% endblock %}
{% block content %}
<!-- Intro -->
<section id="edition-2018" class="wrapper">
    <div class="title">
        Édition 2018
    </div>
    <div class="container edition">
        <a href="{{url}}" class="poster">
      <img src="{% static 'gcc/img/posters/2018.full.jpg' %}" />
    </a>
        <div class="description">
            <p>
                Cette année, l'organisation d’un stage Girls Can Code! à <strong>Nantes</strong> est délégué à l’association Adn-ouest Atlantic 2020. Prologin quant à elle organise à nouveau les stages de <strong>Paris</strong> et <strong>Lyon</strong>.<br />
                Ces stages qui accueillent au total <strong>70 participantes</strong> voient l’arrivée d’un TP sur les <strong>microcontrôleurs microbit</strong> qui, avec le TP jeux vidéo, donnent la possibilité d’exprimer sa créativité.
            </p>
            <div class="carousel">
                <a href="https://flic.kr/s/aHsmi4bcXd">
          <img src="{% static 'gcc/img/photos/2018/01.jpg' %}" />
          <img src="{% static 'gcc/img/photos/2018/02.jpg' %}" />
          <img src="{% static 'gcc/img/photos/2018/03.jpg' %}" />
          <img src="{% static 'gcc/img/photos/2018/04.jpg' %}" />
        </a>
            </div>
        </div>
    </div>
</section>
<section id="edition-2017" class="wrapper">
    <div class="title">
        Édition 2017
    </div>
    <div class="container edition">
        <div class="description">
            <p>
                En 2017, Prologin se lance un grand défi, l’organisation de 3 stages Girls Can Code!, un à <strong>Bordeaux</strong> en juillet et deux autres à <strong>Paris</strong> et <strong>Lyon</strong> en parallèle pendant la dernière semaine d'août. Ils ont réuni un total de <strong>52 participantes</strong> !
            </p>
            <div class="carousel">
                <a href="">
          <img src="{% static 'gcc/img/photos/2017/01.jpg' %}" />
          <img src="{% static 'gcc/img/photos/2017/02.jpg' %}" />
          <img src="{% static 'gcc/img/photos/2017/03.jpg' %}" />
        </a>
            </div>
        </div>
        <a href="{{url}}" class="poster">
      <img src="{% static 'gcc/img/posters/2017.full.jpg' %}" class="poster" />
    </a>
    </div>
</section>
<section id="edition-2016" class="wrapper emph-infos">
    <div class="title">
        Édition 2016
    </div>
    <div class="container edition">
        <div class="description">
            <p>
                Les <strong>18 participantes</strong> avaient cette année des niveaux très hétéroclytes, le stage s’est donc organisé par groupes de niveaux.
                Le stage a vu l’arrivée d’un <strong>TP réseau</strong> qui consiste en la création d'un petit client de messagerie.
            </p>
            <div class="carousel">
                <a href="https://flic.kr/s/aHskCyYBke">
          <img src="{% static 'gcc/img/photos/2016.jpg' %}" />
        </a>
            </div>
        </div>
    </div>
</section>
<section id="edition-2015" class="wrapper emph-infos">
    <div class="container edition">
        <div class="title">
            Édition 2015
        </div>
        <div class="description">
            <p>
                En 2015, c’est <strong>12 filles</strong> qui ont pris part à un stage qui initie pour la première fois à des sujets sur le <strong>web</strong>, la création d’un petit <strong>jeux vidéo</strong> avec la bibliothèque pygame ou encore sur l’os <strong>linux</strong>.
            </p>
            <div class="carousel">
                <a href="https://flic.kr/s/ahskjafpwt">
          <img src="{% static 'gcc/img/photos/2015.jpg' %}" />
        </a>
            </div>
        </div>
    </div>
</section>
<section id="edition-2015" class="wrapper emph-infos">
    <div class="container edition">
        <div class="title">
            Édition 2014
        </div>
        <div class="description">
            <p>
                Ce premier stage a accueilli <strong>10 participantes</strong> pendant 5 jours d'initiation à la programmation.
                Centré autour de l'algorithmique, on y a appris à manipuler des structures de données abstraites, comme par exemples les <strong>graphes</strong>.
                Parmi les participantes, deux en particulier ont poursuivi leurs études dans l'informatique et sont devenues organisatrices des stages !
            </p>
            <div class="carousel">
                <img src="{% static 'gcc/img/photos/2014.jpg' %}" />
      </div>
            </div>
        </div>
</section>
{% endblock %}