{% extends "prologin/base.html" %}
{% load i18n markup staticfiles django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Contest" "" %}
	{% breadcrumb edition.year "" %}
	{% breadcrumb "Qualification" '' %} {# TODO #}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans with edition.year as year %}Prologin {{ year }}{% endblocktrans %}{% endblock %}

{% block content %}

    <h1>{% blocktrans with edition.year as year %}Prologin {{ year }}{% endblocktrans %}</h1>



{% endblock %}