{% extends "prologin/base.html" %}
{% load i18n staticfiles %}
{% load bootstrap3 django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "" %}{% trans "Contest" %}{% endbreadcrumb_for %}
  {% breadcrumb request.current_edition.year "" %}
  {% breadcrumb_for "" %}{% trans "Qualification" %}{% endbreadcrumb_for %}
  {% breadcrumb_for "contest:qualification-summary" request.current_edition.year %}{% trans "Application summary" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block extra_head %}
  <link href="{% static 'lib/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}{% blocktrans with request.current_edition.year as year %}Application summary – Prologin {{ year }}{% endblocktrans %}{% endblock %}

{% block content %}

  <h1>{% blocktrans with request.current_edition.year as year %}Application summary for Prologin {{ year }}{% endblocktrans %}</h1>

  {% url 'pages:about-semifinals' as about_regional_url %}
  <p>{% blocktrans %}Thanks for joining the Prologin contest this year! This page sums up the requirements you have
  to fulfill so you can be selected to participate in the next step: <a href="{{ about_regional_url }}">regional events</a>.{% endblocktrans %}</p>

  {% if contestant.qualification_completion == 2 %}
  <div class="alert alert-success">
    <i class="fa fa-check fa-2x pull-left"></i>
    <div>{% blocktrans with request.current_events.qualification.date_end|date:'DATETIME_FORMAT' as end_date %}The qualification step ends <strong>{{ end_date }}</strong>.{% endblocktrans %}
    {% trans "Your participation is valid. You can still make changes to your answers and profile information, but be sure to keep all the lights green on this page." %}</div>
  </div>
  {% elif contestant.qualification_completion == 1 %}
  <div class="alert alert-warning">
  <i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
    <div>{% blocktrans with request.current_events.qualification.date_end|date:'DATETIME_FORMAT' as end_date %}The qualification step ends <strong>{{ end_date }}</strong>.{% endblocktrans %}
    {% blocktrans %}Your participation is valid and will be processed for the next step, but to improve your odds of being selected, you should complete the missing bits.{% endblocktrans %}
    </div>
  </div>
  {% elif contestant.qualification_completion == 0 %}
  <div class="alert alert-danger">
    <i class="fa fa-times-circle fa-2x pull-left"></i>
    <div>{% blocktrans with request.current_events.qualification.date_end|date:'DATETIME_FORMAT' as end_date %}The qualification step ends <strong>{{ end_date }}</strong>.{% endblocktrans %}
    {% blocktrans %}You are still missing some mandatory information to be able to contest this year. Please review the missing bits on this page.{% endblocktrans %}
    </div>
  </div>
  {% endif %}

  <div class="row">
  {% if request.current_qcm %}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading completion-color-{{ contestant.qualification_qcm_completion }}">
          <div class="completion-text">
          {% if contestant.qualification_qcm_completion == 2 %}
            <i class="fa fa-check"></i> {% trans "Complete" %}
          {% elif contestant.qualification_qcm_completion == 1 %}
            <i class="fa fa-warning"></i> {% trans "Incomplete" %}
          {% else %}
            <i class="fa fa-times-circle"></i> {% trans "Not tackled" %}
          {% endif %}</div>
          {% trans "The quiz" %}
        </div>
        <div class="panel-body">
          <p>
            {% blocktrans count request.current_qcm.question_count as count %}There is {{ count }} quiz question this year.{% plural %}There are {{ count }} quiz questions this year.{% endblocktrans %}
            {% blocktrans count completed_quiz_question_count as count %}You completed {{ count }} question.{% plural %}You completed {{ count }} questions.{% endblocktrans %}
          </p>
          <p>
          {% url 'qcm:display' request.current_edition.year as quiz_url %}
          {% if quiz_completed %}
            <a href="{{ quiz_url }}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Review answers" %}</a>
          {% else %}
            <a href="{{ quiz_url }}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Complete answers" %}</a>
          {% endif %}
          </p>
          <p class="text-muted">{% blocktrans %}Although you are not required to answer all questions, it is recommended to answer as many as you can to improve you chances of being selected.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  {% endif %}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading completion-color-{{ contestant.qualification_problems_completion }}">
          <div class="completion-text">
          {% if contestant.qualification_problems_completion == 2 %}
            <i class="fa fa-check"></i> {% trans "Complete" %}
          {% elif contestant.qualification_problems_completion == 1 %}
            <i class="fa fa-warning"></i> {% trans "Incomplete" %}
          {% else %}
            <i class="fa fa-times-circle"></i> {% trans "Not tackled" %}
          {% endif %}</div>
          {% trans "The problems" %}
        </div>
        <div class="panel-body">
          <p>
            {% blocktrans count problem_count as count %}There is {{ count }} problem this year.{% plural %}There are {{ count }} problems this year.{% endblocktrans %}
            {% blocktrans count completed_problem_count as count %}You tackled {{ count }} problem.{% plural %}You tackled {{ count }} problems.{% endblocktrans %}
          </p>
          <p>
          {% url 'problems:challenge' request.current_edition.year 'qualification' as problem_url %}
          {% if problems_completed %}
            <a href="{{ problem_url }}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Review submissions" %}</a>
          {% else %}
            <a href="{{ problem_url }}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Complete submissions" %}</a>
          {% endif %}
          </p>
          <p class="text-muted">{% blocktrans %}Your submissions do not have to pass all the tests. Nevertheless, the jury will favor codes that both compile, answer the statement and have a minimal runtime/memory complexity. You are even free to submit pseudo-code but keep in mind that you will have to write actual code for the regional events and the finale.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>

  <form method="POST" class="form-horizontal" id="form" action="#details">
    {% csrf_token %}

    <div class="panel panel-default" id="details">
      <div class="panel-heading">{% trans "The inter-school challenge" %}</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            {{ form.contestant.school.label_tag }}
            <p>{{ form.contestant.school }}</p>
            <p class="text-muted small">{% trans "If your school does not appear in the list, type its full name and choose the first item: “Add a new school”." %}</p>
            {# twitter #}
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="{% trans "I participate in the #Prologin inter-school challenge!" %}" data-url="https://prologin.org" data-show-count="false">Tweet</a>
            {# facebook #}
            <iframe src="https://www.facebook.com/plugins/share_button.php?quote=lol&href=https%3A%2F%2Fprologin.org%2F&layout=button&size=large&mobile_iframe=true&appId=665072473660328&width=88&height=28" width="88" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            {# g+ (lol) #}
            <div class="g-plus" data-action="share" data-annotation="none" data-height="28" data-href="https://prologin.org/"></div>
          </div>
          <div class="col-md-6">
            <h4>{% trans "Help your school go up in the inter-school rankings!" %}</h4>
            <p>{% blocktrans %}If you are a student, fill in the name of your high school or university.
The points you score for solving this year problems will be accounted for your school total score.{% endblocktrans %}</p>
            <div>
              <a href="{% url 'contest:interschool:leaderboard' %}" class="btn btn-default">
                <i class="fa fa-trophy"></i> {% trans "Rules & leaderboard" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default" id="details">
      <div class="panel-heading completion-color-{% if contestant.is_complete_for_semifinal %}2{% else %}0{% endif %}">
        <div class="completion-text">{% if contestant.is_complete_for_semifinal %}<i class="fa fa-check"></i> {% trans "Complete" %}{% else %}
          <i class="fa fa-times-circle"></i> {% trans "Incomplete" %}{% endif %}</div>
        {% trans "Preparing the next steps" %}
      </div>
      <div class="panel-body">
        {% if issues %}
        <div class="alert alert-danger">
        {% for issue in issues %}
          <p><i class="fa fa-times-circle"></i> {{ issue }}</p>
        {% endfor %}
        </div>
        {% endif %}

        <div class="row">
          <div class="col-md-6">
            {% bootstrap_field form.user.first_name layout='horizontal' %}
            {% bootstrap_field form.user.last_name layout='horizontal' %}
            {% bootstrap_field form.user.birthday layout='horizontal' %}
            {% bootstrap_field form.user.address layout='horizontal' %}
            {% bootstrap_field form.user.postal_code layout='horizontal' %}
            {% bootstrap_field form.user.city layout='horizontal' %}
            {% bootstrap_field form.user.country layout='horizontal' %}
            {% bootstrap_field form.user.phone layout='horizontal' %}
            {% bootstrap_field form.user.school_stage layout='horizontal' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.contestant.preferred_language layout='horizontal' %}
            {% bootstrap_field form.contestant.shirt_size layout='horizontal' %}
            {% bootstrap_field form.contestant.assignation_semifinal_wishes layout='horizontal' %}
            {% bootstrap_field form.contestant.learn_about_contest layout='horizontal' %}
            {% bootstrap_field form.user.epita layout='horizontal' %}
           <button type="submit" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-paper-plane-o"></i> {% trans "Save application" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}

{% block extra_script %}
  <script src="{% static 'lib/js/select2.min.js' %}"></script>
  {% get_current_language as language %}
  <script src="{% static 'lib/js/i18n' %}/{{ language }}.js"></script>
  <script type="text/javascript">
    window.i18n = window.i18n || {};
    window.i18n.makeChoice = "{% trans "Make your choice" %}";
    window.i18n.addNewSchool = "{% trans "Add new school" %}";
    window.i18n.makeSchoolChoice = "{% trans "Choose an existing school or add yours" %}";
  </script>
  <script type="text/javascript">
    {# Some logic to prevent user from selecting the same event twice in the wish selects #}
    $(function () {
      var opts = {placeholder: window.i18n.makeChoice, width: '100%'};

      $('#id_contestant-preferred_language').select2($.extend({allowClear: true}, opts));

      /*
      TODO: find why this enormous pile of crap does not work. Kill me.
      var ews_opts = $.extend({
          templateResult: function (state) {
            var e = $(state.element);
            var $name = $('<strong>').text(e.attr('data-name'));
            var $addr = $('<span>').addClass('text-muted').text(e.attr('data-addr'));
            return $('<span>').append($name).append('<br>').append($addr);
          }
        }, opts);
      var $event_wish_selects = $('.event-wish-select');
      $event_wish_selects.select2(ews_opts);
      $event_wish_selects
        .on('change', function () {
          $event_wish_selects.each(function () { $(this).select2('destroy'); });

          var taken_vals = [];
          $event_wish_selects.each(function () { taken_vals.push($(this).val()); });

          $event_wish_selects.each(function (i, select) {
            var $select = $(this);
            $select.find('option').prop('disabled', false);
            $.each(taken_vals, function (j, val) {
              if (!val || i == j) return; // empty or self
              console.log('disabling', val);
              $select.find('option[value="' + val + '"]').prop('disabled', true);
            });
          });
          $event_wish_selects.each(function () { $(this).select2(ews_opts); });
        })
        .trigger('change');
      */

      /* plain-js workaround that Just Works(tm) */
      var $event_wish_selects = $('.event-wish-select');
      $event_wish_selects
        .on('change', function() {
          var used_vals = [];
          $event_wish_selects.each(function(i, select) {
            used_vals.push($(select).val());
          });
          $event_wish_selects.each(function(i, select) {
            var $select = $(select);
            $select.find('option').prop('disabled', false);
            $.each(used_vals, function(j, val) {
              if (!val || i == j) return;
              $select.find('option[value="' + val + '"]').prop('disabled', true);
            });
          });
        })
        .trigger('change');

      var $school = $('#id_contestant-school');
      $school.select2({
        allowClear: true,
        tags: true,
        width: '100%',
        ajax: {
          url: "{% url 'schools:search' %}",
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term, // search term
              page: params.page
            };
          },
          processResults: function (data, params) {
            params.page = params.page || 1;
            return {
              results: data.items,
              pagination: {
                more: (params.page * 5) < data.count
              }
            };
          },
          cache: true
        },
        minimumInputLength: 1,
        placeholder: window.i18n.makeSchoolChoice,
        escapeMarkup: function (markup) {
          return markup;
        },
        templateResult: function (p) {
          if (p.loading)
            return p.text;

          var $name;
          if (p.official)
            $name = $('<strong/>').text(p.text);
          else
            $name = $('<span/>').text(p.text);
          if (p.newOption) {
            $name.prepend($('<br/>')).prepend($('<span class="label label-default"/>').text(window.i18n.addNewSchool));
          }
          var $picture = $('<div/>').addClass('school-picture');
          if (p.picture)
            $picture.css({backgroundImage: 'url(' + p.picture + ')', backgroundSize: 'cover'});
          return $('<div class="row"/>')
            .append($('<div class="col-xs-2"/>').append($picture))
            .append($('<div class="col-xs-10"/>').append($name))
        },
        createTag: function (p) {
          return {
            id: '_new_' + p.term,
            text: p.term,
            newOption: true
          }
        }
      });
    });
  </script>
  <script async charset="utf-8" src="//platform.twitter.com/widgets.js"></script>
  <script async defer charset="utf-8" src="https://apis.google.com/js/platform.js"></script>
{% endblock %}
