{% extends "prologin/base.html" %}
{% load i18n django_bootstrap_breadcrumbs bootstrap %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb_for "" %}{% trans "Contest" %}{% endbreadcrumb_for %}
	{% breadcrumb request.current_edition.year "" %}
	{% breadcrumb_for "" %}{% trans "Qualification" %}{% endbreadcrumb_for %}
	{% breadcrumb_for "contest:qualification-summary" request.current_edition.year %}{% trans "Application summary" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans with request.current_edition.year as year %}Application summary – Prologin {{ year }}{% endblocktrans %}{% endblock %}

{% block content %}

	<h1>{% blocktrans with request.current_edition.year as year %}Application summary for Prologin {{ year }}{% endblocktrans %}</h1>

	{% url 'pages:about-semifinals' as about_regional_url %}
	<p>{% blocktrans %}Thanks for joining the Prologin contest this year! This page sums up the requirements you have
	to fulfill so you can be selectionned to participate in the next step: <a href="{{ about_regional_url }}">regional events</a>.{% endblocktrans %}</p>
	<p class="well">
		<span class="label label-info">{% trans "Heads up!" %}</span>
		{% blocktrans with request.current_events.qualification.date_end|date as end_date %}The qualification step ends <strong>{{ end_date }}</strong>. Be sure to have the green light on this page before this date!{% endblocktrans %}
	</p>

	<h2>{% trans "First, complete the exercices, as best as you can" %}</h2>
	<div class="row">
	{% if request.current_qcm %}
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% if quiz_completed %}
						<span class="pull-right label label-success"><i class="fa fa-check"></i> {% trans "Completed" %}</span>
					{% else %}
						<span class="pull-right label label-warning"><i class="fa fa-warning"></i> {% trans "Incomplete" %}</span>
					{% endif %}
					{% trans "The quiz" %}
				</div>
				<div class="panel-body">
					<p class="text-muted">{% blocktrans %}Although you are not required to answer them all, it is recommended to answer as many as you can to improve you chances of being selected.{% endblocktrans %}</p>
					<p>
						{% blocktrans count request.current_qcm.question_count as count %}There is {{ count }} quiz question this year.{% plural %}There are {{ count }} quiz questions this year.{% endblocktrans %}
						{% blocktrans count completed_quiz_question_count as count %}You completed {{ count }} question.{% plural %}You completed {{ count }} questions.{% endblocktrans %}
					</p>
					<p>
					{% url 'qcm:display' request.current_edition.year as quiz_url %}
					{% if quiz_completed %}
						<a href="{{ quiz_url }}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Review answers" %}</a>
					{% else %}
						<a href="{{ quiz_url }}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Complete answers" %}</a>
					{% endif %}
					</p>
				</div>
			</div>
		</div>
	{% endif %}
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% if problems_completed %}
						<span class="pull-right label label-success"><i class="fa fa-check"></i> {% trans "Completed" %}</span>
					{% else %}
						<span class="pull-right label label-warning"><i class="fa fa-warning"></i> {% trans "Incomplete" %}</span>
					{% endif %}
					{% trans "The problems" %}
				</div>
				<div class="panel-body">
					<p class="text-muted">{% blocktrans %}Your submissions do not have to pass all the tests. Nevertheless, the jury will favor codes that both compile, answer the statement and have a minimal runtime/memory complexity. You are even free to submit pseudo-code but keep in mind that you will have to write actual code for the regional events and the finale.{% endblocktrans %}</p>
					<p>
						{% blocktrans count problem_count as count %}There is {{ count }} problem this year.{% plural %}There are {{ count }} problems this year.{% endblocktrans %}
						{% blocktrans count completed_problem_count as count %}You completed {{ count }} problem.{% plural %}You completed {{ count }} problems.{% endblocktrans %}
					</p>
					<p>
					{% url 'training:challenge' request.current_edition.year 'qualification' as problem_url %}
					{% if problems_completed %}
						<a href="{{ problem_url }}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Review submissions" %}</a>
					{% else %}
						<a href="{{ problem_url }}" class="btn btn-primary"><i class="fa fa-pencil"></i> {% trans "Complete submissions" %}</a>
					{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>

	<h2>{% trans "Then, fill in the extra details" %}</h2>
	<form method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ form|bootstrap_horizontal }}
		<button type="submit" class="btn btn-primary">{% trans "Save application" %}</button>
	</form>

{% endblock %}
