{% extends "prologin/base.html" %}
{% load i18n staticfiles %}
{% load bootstrap3 django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "" %}{% trans "Contest" %}{% endbreadcrumb_for %}
  {% breadcrumb request.current_edition.year "" %}
  {% breadcrumb_for "" %}{% trans "Semifinals" %}{% endbreadcrumb_for %}
  {% breadcrumb_for "" %}{% trans "Event selection" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans with request.current_edition.year as year %}Semifinals event selection – Prologin {{ year }}{% endblocktrans %}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h1>{% blocktrans with request.current_edition.year as year %}Semifinals event selection for Prologin {{ year }}{% endblocktrans %}</h1>

      <p>{% trans "In order to participate to the semifinals, you must select an event below." %}</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel-heading">{% trans "Semifinals event choice" %}</div>
          <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <form method="POST" action="">
                    {% csrf_token %}
                    {% bootstrap_field form.selected_event %}
                    <button class="btn btn-success btn-block">{% trans "Validate my choice" %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

{% endblock %}
