{% extends "prologin/base.html" %}
{% load i18n staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "pages:about-contest" %}{% trans "About the contest" %}{% endbreadcrumb_for %}
  {% breadcrumb_for "pages:about-history" %}{% trans "History" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% trans "History" %}{% endblock %}

{% block content %}

<h1>{% trans "History" %}</h1>

<h2>{% trans "The creation of the contest" %}</h2>
<p>{% blocktrans %}The Prologin organization was created in 1991 by EPITA and
École polytechnique students, finding that Computer Science was one of the
few fields for which there was no national contest in France gathering young
enthusiasts.{% endblocktrans %}</p>
<p>{% blocktrans %}The first Prologin edition was done in 1992, taking the
form of a national individual computer science contest for young people under
20. The success of this experiment confirmed the interest of a contest like
this one, which became a model for the next editions : the online selection,
the regional events and the final. The latter, atypical with its 36-hour
nonstop contest, is the main specificity of the contest.{% endblocktrans %}</p>

<h2>{% trans "The winners of Prologin" %}</h2>

<p>{% blocktrans %}From its creation, Prologin rewards the contestants that
show excellence in a scientific field, despite its absence in most curriculums.
This is the list of these students by year.
{% endblocktrans %}</p>

<dl class="dl-horizontal">
{% for w in winners|dictsortreversed:'year' %}
  <dt>{{ w.year }}</dt>
  <dd class="prologin-winner">
    {% if w.name == '!' %}<em>{% trans "No edition this year" %}</em>
    {% elif w.name %}<i class="fa fa-trophy"></i> {{ w.name }}
    {% else %}<em>{% trans "No data available" %}</em>{% endif %}
  </dd>
{% endfor %}
</dl>

{% endblock %}
