.change-list .field {
  padding-left: .5em !important;
}

.team-member-avatar.small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  box-shadow: none;
  margin: 0.2em;
}

@media(max-width: 992px) {
  #correct-nav {
    position: relative;
    width: auto !important;
  }
}

.correction {
  margin-bottom: 10px;
}