{% extends "prologin/base.html" %}
{% load i18n staticfiles %}
{% load django_bootstrap_breadcrumbs utils %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "sponsors:index" %}{% trans "Sponsors" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% trans "Sponsors" %}{% endblock %}

{% block content %}

    <h1>{% trans "Special thanks to all our sponsors!" %}</h1>
    <p>
      {% blocktrans %}
        Organizing Prologin and GCC! requires significant resources. We welcome
        companies, institutions, or individuals who would like to join our
        sponsorship program.
      {% endblocktrans %}
    </p>
    <p>
      {% if language == "fr" %}
      <a href="{{ MEDIA_URL }}sponsors/plaquettes/sponsors_fr_2020.pdf">
      {% else %}
      <a href="{{ MEDIA_URL }}sponsors/plaquettes/sponsors_en_2020.pdf">
      {% endif %}
          {% blocktrans %}
            Become a sponsor
          {% endblocktrans %}
        </a>
    </p>

    {% for sponsor in sponsors_gold %}
      {% if forloop.first %}
      <h2>{% trans "Gold" %}</h2>
      <div class="row">
      {% endif %}
        <div class="row panel">
          <div class="col-sm-6 col-md-3">
            <a class="partenaire-logo" href="{{ sponsor.site }}">
              <img alt="{{ sponsor.name }}" src="{{ sponsor.logo.url }}" style="max-width:100%; max-height: 10em;" />
            </a>
          </div>
          <div class="col-sm-6 col-md-9">
            <p><strong>{{ sponsor.name }}</strong></p>
            <p>{{ sponsor.description }}</p>
          </div>
        </div>
      {% if forloop.last %}
      </div>
      {% endif %}
    {% endfor %}


    {% for sponsor in sponsors_silver %}
      {% if forloop.first %}
      <h2>{% trans "Silver" %}</h2>
      <div class="row equal">
      {% endif %}
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-body">
              <a class="partenaire-logo" href="{{ sponsor.site }}">
                <img alt="{{ sponsor.name }}" src="{{ sponsor.logo.url }}" style="max-width:100%; max-height: 10em;" />
              </a>
            </div>
          </div>
        </div>
      {% if forloop.last %}
      </div>
      {% endif %}
    {% endfor %}

    {% for sponsor in sponsors_bronze %}
      {% if forloop.first %}
      <h2>{% trans "Bronze" %}</h2>
      <div class="row equal">
      {% endif %}
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-body">
              <a class="partenaire-logo" href="{{ sponsor.site }}">
                <img alt="{{ sponsor.name }}" src="{{ sponsor.logo.url }}" style="max-width:100%; max-height: 10em;" />
              </a>
            </div>
          </div>
        </div>
      {% if forloop.last %}
      </div>
      {% endif %}
    {% endfor %}

{% endblock %}
