{% extends "prologin/base.html" %}
{% load i18n staticfiles %}
{% load django_bootstrap_breadcrumbs utils %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "sponsors:index" %}{% trans "Sponsors" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% trans "Sponsors" %}{% endblock %}

{% block content %}

    <h1>{% trans "Sponsors" %}</h1>
    <p>{% blocktrans %}Looking for Prologin's last year poster? 1996 final's statement? 2003 quiz?
    You can find all the documents and photo albums from past Prologin editions in these pages.{% endblocktrans %}</p>

    {% for sponsor in sponsors %}
        <hr/>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <a href="{{ sponsor.site }}" style="width: 100%; display: block; text-align: center">
                    <img alt="{{ sponsor.name }}" src="{{ sponsor.logo.url }}" style="max-width:100%; max-height: 10em;" />
                </a>
            </div>
            <div class="col-sm-6 col-md-9">
              <p>
                {{ sponsor.description }}
              </p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
