{% extends "prologin/base.html" %}
{% load i18n staticfiles %}
{% load django_bootstrap_breadcrumbs utils %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "sponsors:index" %}{% trans "Sponsors" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% trans "Sponsors" %}{% endblock %}

{% block content %}

    <h1>{% trans "Special thanks to all our sponsors!" %}</h1>
    <p>
      {% blocktrans %}
        Organizing Prologin and GCC! requires significant resources. We welcome
        companies, institutions, or individuals who would like to join our
        sponsorship program.
      {% endblocktrans %}
    </p>
    <p>
      {% if language == "fr" %}
      <a href="{{ MEDIA_URL }}sponsors/plaquettes/sponsors_fr_2020.pdf">
      {% else %}
      <a href="{{ MEDIA_URL }}sponsors/plaquettes/sponsors_en_2020.pdf">
      {% endif %}
          {% trans "Become a sponsor" %}
        </a>
    </p>

    {% for type,typed_sponsors in sponsors.items %}
      {% if typed_sponsors %}
        <h2>{% trans type %}</h2>
        {% if type == "Gold" %}
          <div class="row">
        {% else %}
          <div class="row equal">
        {% endif %}
        {% for sponsor in typed_sponsors %}
          {% if type == "Gold" %}
            <div class="row panel">
              <div class="col-sm-6 col-md-3">
          {% else %}
            <div class="col-md-4">
              <div class="panel">
          {% endif %}
              <div class="panel-body">
                <a class="spons-logo" href="{{ sponsor.site }}">
                  <img alt="{{ sponsor.name }}" src="{{ sponsor.logo.url }}" >
                </a>
              </div>
            </div>
            {% if type == "Gold" %}
              <div class="col-sm-6 col-md-9">
                <p><strong>{{ sponsor.name }}</strong></p>
                <p>{{ sponsor.description }}</p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
        </div>
      {% endif %}
    {% endfor %}

{% endblock %}
