{# Topbar #}
<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding brand">Marauder</div>
    <div class="right">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div>
  </div>
</div>

{# Action button #}
<a href="#" class="floating-button color-pink">
  <i class="material-icons">gps_fixed</i>
</a>

<div class="pages navbar-through toolbar-through">
  <div data-page="map" class="page">
    <div class="page-content">

      <div id="map"></div>

    </div>
  </div>
</div>