{% verbatim %}
<div class="list list-taskforces">
  <div ng-repeat="taskforce in taskForces">
    <div class="item item-divider item-button-right">
      {{ taskforce.name }}
      <button class="button button-positive" ng-class="{disabled: actionLoading}"
              ng-click="promptTaskForcePing(taskforce)">
        <ion-spinner icon="lines" ng-if="actionLoading" class="spinner-white"></ion-spinner>
        <div ng-if="!actionLoading"><i class="material-icons">notifications_none</i> Ping général</div>
      </button>
    </div>
    <div ng-repeat="member in taskforce.members"
         ng-click="toggleAccordion(member)"
         class="item-member"
         ng-class="{active: isAccordionShown(member)}">
      <div class="item item-avatar item-icon-right">
        <div ng-attr-style="{{ member.avatar ? 'background-image: url(' + member.avatar + ')' : '' }}"
             class="icon user-avatar" ng-class="{'user-online': member.online, empty: !member.avatar}"></div>
        <h2>{{ member.username }}</h2>
        <p>{{ member.fullName }} ⋅
          <last-seen timestamp="{{ member.lastSeen }}"/>
        </p>
        <i
          ng-class="{icon: true, 'ion-chevron-down': isAccordionShown(member), 'ion-chevron-right': !isAccordionShown(member)}"></i>
      </div>
      <div ng-show="isAccordionShown(member)" class="item item-accordion" ng-click="$event.stopPropagation();">
        <div class="row">
          <div class="col">
            <button class="button button-block button-positive"
                    ng-class="{disabled: actionLoading || !member.hasDevice}"
                    ng-click="promptUserPing(member);">
              <ion-spinner icon="lines" ng-if="actionLoading" class="spinner-white"></ion-spinner>
              <div ng-if="!actionLoading"><i class="material-icons">notifications_none</i> Ping</div>
            </button>
          </div>
          <div class="col">
            <button class="button button-block button-balanced" ng-class="{disabled: actionLoading || !member.phone}"
                    ng-click="callNumber(member.phone);">
              <ion-spinner icon="lines" ng-if="actionLoading" class="spinner-white"></ion-spinner>
              <div ng-if="!actionLoading"><i class="material-icons">phone</i> Appeler</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="templates/ping.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">
        <i class="material-icons">notifications_none</i> Envoyer un ping
      </h1>
      <button class="button button-clear" ng-click="pingModal.hide()"><i class="material-icons">close</i></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item">
          <p>Vous envoyez un ping à {{ ping.to }}.</p>
        </div>
        <label class="item item-input">
          <textarea ng-model="ping.reason" placeholder="Raison du ping, commentaire"></textarea>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="sendPing()">Envoyer le ping</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
{% endverbatim %}
