{% verbatim %}
<script id="templates/taskforces.html" type="text/ng-template">
  <ion-view view-title="Taskforces">
    <ion-content>
      <!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->
      <div class="list list-taskforces">
        <div ng-repeat="taskforce in $root.taskForces">
          <div class="item item-divider item-button-right" ng-click="toggleAccordion('tf', taskforce.id)">
            {{ taskforce.name }}
            <small>{{ (taskforce.members | filter: {online: true}).length }} / {{ taskforce.members.length }}
            <span ng-if="taskforce.redundancy" class="{{ (taskforce.members | filter: {online: true}).length < taskforce.redundancy ? 'urgent' : '' }}">
              (<strong>{{ taskforce.redundancy }}</strong>)</span></small>
            <button class="button button-positive" ng-class="{disabled: actionLoading}"
                    ng-click="promptTaskForcePing(taskforce); $event.stopPropagation()">
              <ion-spinner icon="lines" ng-if="actionLoading" class="spinner-white"></ion-spinner>
              <div ng-if="!actionLoading"><i class="material-icons">notifications_none</i> Ping groupé</div>
            </button>
          </div>
          <div ng-repeat="member in taskforce.members"
               ng-click="toggleAccordion('m', member.id)"
               ng-if="isAccordionShown('tf', taskforce.id)"
               class="item-member"
               ng-class="{active: isAccordionShown('m', member.id)}">
            <div class="item item-avatar item-icon-right">
              <div ng-attr-style="{{ member.avatar ? 'background-image: url(' + member.avatar + ')' : '' }}"
                   class="icon user-avatar" ng-class="{'user-online': member.online, empty: !member.avatar}"></div>
              <h2>{{ member.username }} <span class="note">{{ member.fullName }}</span></h2>
              <p>
                <last-seen timestamp="{{ member.lastSeen }}"/>
                <span ng-if="{{ member.dead }}">⋅ <i class="material-icons danger">location_off</i></span>
              </p>
              <i class="icon material-icons">{{ isAccordionShown('m', member.id) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</i>
            </div>
            <div ng-show="isAccordionShown('m', member.id)" class="item item-accordion"
                 ng-click="$event.stopPropagation();">
              <div class="row">
                <div class="col">
                  <button class="button button-block button-positive"
                          ng-class="{disabled: actionLoading || !member.hasDevice}"
                          ng-click="promptUserPing(member);">
                    <ion-spinner icon="lines" ng-if="actionLoading" class="spinner-white"></ion-spinner>
                    <div ng-if="!actionLoading"><i class="material-icons">notifications_none</i> Ping</div>
                  </button>
                </div>
                <div class="col">
                  <button class="button button-block button-balanced"
                          ng-class="{disabled: actionLoading || !member.phone}"
                          ng-click="callNumber(member.phone);">
                    <ion-spinner icon="lines" ng-if="actionLoading" class="spinner-white"></ion-spinner>
                    <div ng-if="!actionLoading"><i class="material-icons">phone</i> Appeler</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
</script>

<script id="templates/ping.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">
        <i class="material-icons">notifications_none</i> Envoyer un ping
      </h1>
      <button class="button button-clear" ng-click="pingModal.hide()"><i class="material-icons">close</i></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item">
          <p>Vous envoyez un ping à {{ ping.to }}.</p>
        </div>
        <label class="item item-input">
          <textarea ng-model="ping.reason" placeholder="Raison du ping, commentaire"></textarea>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="sendPing()">Envoyer le ping</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>


{% endverbatim %}
