{% extends "gcc/base.html" %}
{% block title %}GCC! − Désinscription Validée{% endblock %}
{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div class="title">Désinscription</div>
        <div style="text-align: center;">
            <p>
                Votre désinscription a été réalisée avec succès.
            </p>
            <a href="{% url 'gcc:index' %}" class="button style3 large">Retour à l'accueil</a>
        </div>
    </div>
</section>
{% endblock %}