/* Forum style */

.post-content .pyg-hltable {
  margin: 0 0 10px 0; /* same as p */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.post-content .pyg-hltable pre {
  border-radius: 3px;
}

.post-content .pyg-hltable .pyg-hl {
  border-radius: 0 3px 3px 0;
}

.post-content .pyg-hltable .linenos {
  background: #272822;
  color: #f8f8f2;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #555;
}

.post-content .footnote {
  font-size: 0.9em;
}

.post-content .footnote hr {
  margin: 20px 0 10px;
}

.post-content .footnote ol {
  margin: 0;
}

.post-content .footnote ol li p {
  margin: 0;
}

.post-content .footnote ol li:target, .post-content sup[id^="fnref"]:target {
  background: #f7ecb5;
}

.post-content blockquote {
  font-size: inherit; /* wtf bootstrap */
  border-left: 5px solid #ccc;
}

.empty-list-item {
  background: #f5f5f6;
  padding: 1em;
}

.forum-title h3 {
  font-size: 2.5ex;
  padding: 0;
  margin: 0;
}

.forum-title .forum-description p {
  margin: 0;
  padding: 0;
}

.forum-description {
  margin: 0 1em 1em;
}

.forum-title .forum-description {
  margin: .5em;
}

.forum-listing {
  list-style: none;
  margin: 0;
  padding: 0;
}

.forum-meta {
  font-size: 0.9em;
}

.forum-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.forum-meta .separator {
  padding: 0 .5em;
}

.forum-listing > li {
  margin: 0;
  padding: 0;
  height: auto;
  vertical-align: middle;
  box-sizing: border-box;
}

.forum-listing > li:nth-child(odd) {
  background: #f5f5f5;
}

.forum-listing .row > div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.forum-listing .row > div > a {
  display: block;
  width: auto;
  padding: 0.8em 0.8em 0.8em 42px;
}

.forum-listing .row > div > a:hover, .forum-listing .row > div > a:focus, .forum-listing .row > div > a:active {
  text-decoration: none;
}

.forum-listing p {
  margin: 0;
  padding: 0;
}

.forum-listing h3 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

.thread-item-main {
  position: relative;
}

.thread-item-main .thread-item-icons {
  position: absolute;
  width: 1em; /* feel the hack */
  text-align: center;
  padding: 0.8em 1em;
}

.thread-item-meta {
  font-size: 0.9em;
}

.thread-item-author {
  font-weight: bold;
}

.forum-post {
  background: #f5f5f5;
  border-bottom: 3px solid #202b66;
  padding: 1em;
}

.forum-sticky-threads {
  margin-bottom: 1em;
  border-bottom: 3px solid #202b66;
}

.forum-post-list {
  margin-bottom: 10px;
}

.post-author {
  text-align: left;
}

.post-author .avatar {
  max-width: 60px;
  max-height: 60px;
}

.post-author-avatar {
  text-align: right;
}

.forum-actions {
  opacity: 0;
  transition: opacity linear 0.1s;
}

.forum-post:hover .forum-actions, .forum-post:active .forum-actions, .forum-meta:focus .forum-actions {
  opacity: 1;
}

.staff-flare {
  display: inline-block;
  font-size: 0.8em;
  margin: 10px 0 0;
}

@media (min-width: 768px) {

  .post-author {
    text-align: center;
  }

  .post-author-avatar {
    text-align: center;
  }

  .post-author-link {
    padding: 0 0 0.5em;
  }

  .post-author .avatar {
    max-width: 100%;
    max-height: 100px;
  }

}
