/* Forum style */

.forum-table td, .thread-table td {
	padding: 1em;
}
.forum-table th, .thread-table th {
	padding: 0 1em;
}

.forum-title h3 {
	font-size: 2.5ex;
	padding: 0;
	margin: 0;
}

.forum-title .forum-description p {
	margin: 0;
	padding: 0;
}

.forum-description {
	margin: 0 1em 1em;
}
.forum-title .forum-description {
	margin: .5em;
}

.forum_add label {
	float: left;
	width: 150px;
	text-align: left;
}

.forum_add textarea {
	width: 80%;
	position: relative;
	/*left: 10%;*/
}

.forum_add input[type~="submit"] {
	position: relative;
	width: 36%;
	left: 32%;
}

.forum_add input[type~="text"] {
	position: relative;
	width: 80%;
	/*left: 10%;*/
}

.forum_image img {
	width: 7%;
	position: relative;
	top: -13px;
	left: 92.7%;
}

.posted_by p {
	position: relative;
	top: -38px;
}

.add_thread h3 {
	font-weight: bold;
}

.nb_stuff p {
	position: relative;
	top: -12px;
	font-weight: lighter;
	font-style: italic;
}

.pin_thread {
	background-color: #EEF5FF;
	border-radius: 15px;
}

.pin_thread h3 {
	margin-left: 15px;
	position: relative;
	top: 10px;
}

.pin_thread p {
	margin-left: 15px
}

.forum_nav {
	text-align: center;
}

.forum_nav a {
	margin-right: 15px;
	margin-left: 15px;
}