{% extends "gcc/base.html" %}
{% load static %}

{% block title %}GCC! − Application{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static "gcc/css/form.css"%}">
{% endblock %}

{% block content %}
<section>
	<h2>Choisir mon centre de stage</h2>
	<form method="post">
    {% csrf_token %}
		{{ form.as_p }}
		<input class="halo-button" type="submit" value="Valider ma candidature">
	</form>
</section>
<section>
  <h2>À propos des centres disponibles</h2>
  {% for event in events %}
  <p>
    <a href="{% url "centers:map" %}"><h3>{{ event.center.name }}</h3></a>
    <p>
      Du {{event.event_start}} au {{event.event_end}}<br/>
      {{event.center.address}}, {{event.center.postal_code}} {{event.center.city}}<br/>
      Fermeture des inscriptions le {{event.signup_end}}
    </p>
  {% endfor %}
</section>
{% endblock %}
