{% load static %}
<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}TITRE NON DÉFINIS{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "gcc/css/style.css"%}">
	</head>
	<body>
		<header>
			<section>
				{% comment %}TODO Add real logo {% endcomment %}
				<a href="{% url "gcc:index" %}" class="nav-title"><img src="{% static "gcc/img/logo.png" %}" alt="GCC!"></a>
			</section>
		</header>
		<nav>
			<a href="#">À Propos</a>
			<a href="#">L'Équipe</a>
			<a href="#">Images</a>
			<a href="#">Se connecter</a>
		</nav>
		<main>
			{% block content %}<section><p>CONTENU NON DÉFINIS</p></section>{% endblock %}
		</main>
		<footer>
			<section>
				<p>Copyright © Prologin 2018</p>
			</section>
		</footer>
	</body>
</html>
