{% extends "gcc/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<section class="wrapper emph-infos important">
    <div class="title">{% trans 'The Summer Camps' %}</div>
    <div class="container">
        <p>
            {% blocktrans %}
            The Girls Can Code! Summer camp is an initiation week to programming for
            teenage girls.
            {% endblocktrans %}
        </p>
        <div class="highlight-row highlight-row-gaped">
            <div class="highlight">
                <h2>{% trans 'Next Summer Camps' %}</h2>
                <ul>
                    {% for event in events %}
                    <li>{{ event.center }}, {% trans 'the week of' %} <em>{{ event.event_start|date:"DATE_FORMAT" }}</em></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="highlight">
                <h2>{% trans 'To register' %}</h2>
                <ul>
                    <li>{% trans 'For girls without an high school diploma' %}</li>
                    <li>{% trans 'For European Union or Swiss inhabitants' %}</li>
                    <li>{% trans 'Complete the application form' %}</li>
                </ul>
                {% if user.is_authenticated %}
                <a href="application/form/{{last_edition}}" class="button style3 large">{% trans 'Register' %}</a>
                {% else %}
                <a href="user/register" class="button style3 large">{% trans 'Sign in' %}</a>
                {% endif %}
            </div>
            <p>
                {% blocktrans %}
                We learn the fundamentals of programming with the Python language, and things to start your own small project !
                <br /><br />
                Internships are free and organized by volunteers and by the Prologin association.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="title">{% trans 'More informations' %}</div>
    <div class="container">
        <section id="features">
            <header class="style1">
                <h2>{% trans 'Everything you have to know about internships' %}</h2>
                <p>{% trans 'For all other question, contact us' %}</p>
            </header>
            <div class="feature-list">
                <section>
                    <h3 class="icon fa-graduation-cap" aria-hidden="true">{% trans 'Prerequisites' %}</h3>
                    <p>
                        {% blocktrans %}
                        The internship's goal is to adapt to each of you so you do not have to have a minimal level in IT before the internship.
                        Beside, go take a look to
                        {% endblocktrans %}
                        <a href="{% url 'gcc:resources' %}">{% trans 'some resources' %}</a>
                        {% blocktrans %}
                        to peek a look at what's coming !
                        {% endblocktrans %}
                    </p>
                </section>
                <section>
                    <h3 class="icon fa-euro">{% trans 'Free internship' %}</h3>
                    <p>
                        {% blocktrans %}
                        Internships are free and meals are provided.
                        The association does not provide any accommodation or transportation to the stage place.
                        But if you have any financial issues, send us a mail to
                        {% endblocktrans %}
                        <a href="mailto:info@prologin.org">info@prologin.org</a>
                        {% blocktrans %}
                        and we will talk about a possible scholarship.
                        {% endblocktrans %}
                    </p>
                </section>
                <section>
                    <h3 class="icon fa-frown-o">{% trans 'For those who cannot apply' %}</h3>
                    <p>
                        {% blocktrans %}
                        The IT is not closed so far !
                        Do not hesitate to discover the <ref> recommended resources to start<ref> and if you are less than 21 years old, you can take part to the 27<sup>th</sup> edition
                                {% endblocktrans %}
                                <a href="{% url 'home' %}">{% trans 'of the Prologin contest' %}</a>.
                                {% blocktrans %}
                                The first online qualification stage is now open.
                                {% endblocktrans %}
                    </p>
                </section>
                <section>
                    <h3 class="icon fa-calendar">{% trans 'The program' %}</h3>
                    <p>
                        {% blocktrans %}
                        Internship last one week during which there is some practical courses on diverse subjects(Python introduction, networks, web), and some conferences where the women speakers work in IT.
                        Finally, the week ends with a small project where creativity is inferred
                        {% endblocktrans %}
                    </p>
                </section>
            </div>
        </section>
    </div>
</section>
<section class="wrapper">
    <div class="title">{% trans 'Figures' %}</div>
    <div class="container">
        <div class="highlight-row">
            <div class="highlight">
                {% with url="https://www.lemonde.fr/campus/article/2017/12/11/femmes-et-informatique-vingt-ans-de-desamour_5227726_4401467.html" %}
                <a href="{{url}}" class="image featured">
          <img src="{% static 'gcc/img/stat_femmes.svg' %}" alt="" />
        </a>
                <h3><a href="{{url}}">{% trans 'Parity in IT' %}</a></h3>
                <p>
                    {% blocktrans %}
                    Girls Can Code! was created to promote girls to take a place in this masculine field despite stereotypes.
                    {% endblocktrans %}
                </p>
                <a target="_blank"  href="{{url}}" class="button style1">{% trans 'More' %}</a>
                {% endwith %}
            </div>
            <div class="highlight">
                <a href="{% url 'gcc:editions' %}" class="image featured">
          <img src="{% static 'gcc/img/stat_editions.svg' %}" alt="" />
        </a>
                <h3>
          <a href="{% url 'gcc:editions' %}">{% trans 'Previous Girls Can Code editions!' %}</a>
        </h3>
                <p>
                    {% blocktrans %}
                    The first ever Girls Can Code! edition was in 2014, therefore the 2019<sup>th</sup> edition will be the 6<sup>th</sup>.
                    {% endblocktrans %}
                </p>
                <a target="_blank"  href="{% url 'gcc:editions' %}" class="button style1">{% trans 'More' %}</a>
            </div>
            <div class="highlight">
                <a href="{% url 'home' %}" class="image featured">
          <img src="{% static 'gcc/img/stat_prologin.svg' %}" alt="" />
        </a>
                <h3>
          <a href="{% url 'home' %}">{% trans 'Prologin, an association created in 1991' %}</a>
        </h3>
                <p>
                    {% blocktrans %}
                    The Prologin association was created in 1991 to plan the national computer contest, and run since 2014 the Girls Can Code! internships.
                    {% endblocktrans %}
                </p>
                <a target="_blank"  href="{% url 'home' %}" class="button style1">{% trans 'More' %}</a>
            </div>
        </div>
    </div>
</section>
<section class="wrapper emph-infos">
    <div class="title">{% trans 'Our sponsors' %}</div>
    <div class="container">
        <p>
            {% blocktrans %}
            We would like to thanks our sponsors without whom internships would not happen.
            {% endblocktrans %}
        </p>
        <div class="row reg_5rem">
            {% for sponsor in sponsors %}
            <div class="cell center">
                <a href="{{ sponsor.site }}">
            <img alt="{{ sponsor.name }}" src="{{ sponsor.logo.url }}" style="max-width: 100%" />
          </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
<div id="newsletter" class="container">
    <header>
        <h2>{% trans 'Any question ?' %}</h2>
        <p>
            {% blocktrans %}
            Do not hesitate to contact us.
            {% endblocktrans %}
        </p>
    </header>
    <!-- Contact Form -->
    <section>
        <form method="post">
            {% csrf_token %}
            <div class="row reg_20rem">
                <input type="text" name="email" placeholder="Email" />
                <input type="submit" value="S'inscrire à la newsletter" />
            </div>
        </form>
    </section>
</div>
{% endblock %}
