{% extends "gcc/base.html" %}
{% load static %}

{% block content %}
	<section class="wrapper emph-infos important">
		<div class="title">Les stages</div>
		<div class="container">
			<p>
				Les stages Girls Can Code! c’est une semaine d'initiation à la programmation pour les collégiennes et lycéennes.
				<br /><br />
				On y apprend les bases de la programmation avec le langage Python, et de quoi se lancer dans des petits projets de son choix !
				<br /><br />
				Les stages sont gratuits, entièrement organisés par des bénévoles et l’association Prologin.
			</p>
			<h2>Prochains stages</h2>
			<ul>
				<li>Paris, la semaine du <em>23 octobre 2018</em></li>
				<li>Lyon, la semaine du <em>23 octobre 2018</em></li>
			</ul>
			<small style="font-size: 0.7em; font-weight: normal; line-height: 1;">
			</small>
			<h2>Conditions pour s’inscrire</h2>
			<ul>
				<li>Être une fille encore non bachelière</li>
				<li>Habiter dans l'Union européenne ou en Suisse</li>
				<li>Remplir le formulaire de candidature</li>
				<li>Être motivée !</li>
			</ul>
			<a href="#" class="button style3 large">S'inscrire</a>
		</div>
	</section>

	<section class="wrapper">
		<div class="title">Plus d’informations</div>
		<div class="container">
			<section id="features">
				<header class="style1">
					<h2>Tout ce qu’il faut savoir sur les stages</h2>
					<p>Pour toute autre question, contactez-nous</p>
				</header>
				<div class="feature-list">
					<section>
						<h3 class="icon fa-graduation-cap" aria-hidden="true">Prérequis</h3>
						<p>
							Le stage a pour but de s’adapter au niveau de chacune donc pas besoin d’avoir un niveau minimum en informatique avant le stage.
							Par contre, c’est toujours mieux de savoir dans quoi on se lance donc va faire un tour sur <a href="{% url 'gcc:ressources' %}">les ressources</a> que nous recommandons pour commencer !
						</p>
					</section>
					<section>
						<h3 class="icon fa-euro">Stage gratuit</h3>
						<p>
							Les stages sont gratuits et les repas offerts aux participantes.
							L'hébergement et le transport jusqu'au lieu du stage ne sont pas pris en charge par l’association.
							Mais si des questions financières t’empêcheraient de participer au stage, écris-nous à <a href="mailto:info@prologin.org">info@prologin.org</a> et nous discuterons de l’attribution éventuelle d’une bourse.
						</p>
					</section>
					<section>
						<h3 class="icon fa-frown-o">Pour celles qui ne peuvent plus participer</h3>
						<p>
							L’informatique ne t’es pas fermé pour autant !
							N’hésite pas à découvrir les <ref>ressources recommandées pour débuter<ref> et si tu as moins de 21 ans, tu peux participer à la 27<sup>e</sup> édition <a href="{% url 'home' %}">du concours Prologin</a>.
							La première phase de qualification en ligne est ouverte.
						</p>
					</section>
					<section>
						<h3 class="icon fa-calendar">Le programme</h3>
						<p>
							Les stages durent une semaine, au cours de laquelle sont proposés des travaux pratiques de programmation sur des sujets divers (introduction à Python, réseaux, web), ainsi que des conférences données par des femmes travaillant dans l'informatique.
							Enfin, la semaine se termine sur la mise en place d’un petit projet qui laisse place à la créativité.
						</p>
					</section>
				</div>
			</section>
		</div>
	</section>

	<section class="wrapper">
		<div class="title">Les chiffres</div>
		<div class="container">
			<div class="row reg_20rem">
				<div>
					<section class="highlight">
						{% with url="https://www.lemonde.fr/campus/article/2017/12/11/femmes-et-informatique-vingt-ans-de-desamour_5227726_4401467.html" %}
							<a href="{{url}}" class="image featured">
								<img src="{% static 'gcc/img/stat_femmes.svg' %}" alt="" />
							</a>
							<h3><a href="{{url}}">Parité en informatique</a></h3>
							<p>
								Girls Can Code! a été créé dans le but d’encourager les filles à entrer dans ce domaine majoritairement masculin malgré les stéréotypes.
							</p>
							<ul class="actions">
								<li><a target="_blank"  href="{{url}}" class="button style1">En Savoir Plus</a></li>
							</ul>
						{% endwith %}
					</section>
				</div>
				<div>
					<section class="highlight">
						<a href="{% url 'gcc:editions' %}" class="image featured">
							<img src="{% static 'gcc/img/stat_editions.svg' %}" alt="" /></a>

						<h3><a href="{% url 'gcc:editions' %}">Les éditions Girls Can Code!</a></h3>
						<p>
							La première édition des stages Girls Can Code! a eu lieu en 2014, l’édition 2019 sera donc la 6<sup>ème</sup>.
						</p>
						<ul class="actions">
							<li><a target="_blank"  href="{% url 'gcc:editions' %}" class="button style1">En Savoir Plus</a></li>
						</ul>
					</section>
				</div>
				<div>
					<section class="highlight">
						<a href="{% url 'home' %}" class="image featured">
							<img src="{% static 'gcc/img/stat_prologin.svg' %}" alt="" /></a>

						<h3><a href="{% url 'home' %}">Prologin, une association créée en 1991</a></h3>
						<p>
							L'association Prologin a été créée en 1991 pour organiser le concours national d'informatique, et se charge depuis 2014 des stages Girls Can Code!.
						</p>
						<ul class="actions">
							<li><a target="_blank"  href="{% url 'home' %}" class="button style1">En Savoir Plus</a></li> {# TODO LIEN EDITIONS #}
						</ul>
					</section>
				</div>
			</div>
		</div>
	</section>

	<section class="wrapper emph-infos">
		<div class="title">Nos sponsors</div>
		<div class="container">
			<p>
				Nous remercions nos sponsors sans lesquels les stages ne pourraient avoir lieu.
			</p>
			<div class="row reg_5rem">
				<div class="cell center">
					<a href="https://edu.google.com/intl/fr_be/?modal_active=none">
						<img alt="Google Education" src="{% static 'gcc/img/sponsors/google_edu.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="cell center">
					<a href="https://www.fondation-blaise-pascal.org/">
						<img alt="Fondation Blaise Pascal" src="{% static 'gcc/img/sponsors/logo_fondation_bp.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="cell center">
					<a href="http://milyon.universite-lyon.fr/">
						<img alt="Milyon" src="{% static 'gcc/img/sponsors/milyon.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="cell center">
					<a href="http://www.ens-lyon.fr/">
						<img alt="ENS de Lyon" src="{% static 'gcc/img/sponsors/ens_lyon.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="cell center">
					<a href="http://www.epita.fr/">
						<img alt="EPITA" src="{% static 'gcc/img/sponsors/epita.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="cell center">
					<a href="https://group.bnpparibas/">
						<img alt="BNP Paribas" src="{% static 'gcc/img/sponsors/bnp_paribas.png' %}" style="max-width: 100%"/>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	<div id="newsletter" class="container" style="padding-bottom: 80px;">
		<header class="style1">
			<h2>Une question ?</h2>
			<p>
				N'hésitez pas à nous contacter.
			</p>
		</header>
				<!-- Contact Form -->
				<section>
					<form method="post">
						{% csrf_token %}
						<div class="row reg_20rem">
							<div>
								<input type="text" name="email" placeholder="Email" style="height: 60px">
							</div>
							<div>
								<ul class="actions">
									<li><input type="submit" class="style1" value="S'inscrire à la newsletter" style="height: 60px" /></li>
								</ul>
							</div>
						</div>
					</form>
				</section>
	</div>
{% endblock %}
