{% extends "gcc/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<section class="wrapper emph-infos important">
    <div class="title">S'entraîner à coder</div>
    <div class="container">
      <p>
        {% blocktrans %}
        Many ressources are available on the internet to start coding, but it is sometime hard not to get lost in this ocean of informations.
        We detail here some intresting ressources to start learning.
        {% endblocktrans %}
      </p>
    </div>
</section>

<section class="wrapper emph-infos">
  <div class="title">{% trans 'Which language ?' %}</div>
    <div class="container">
      <p>
        {% blocktrans %}
        When coding, we describe information that the machine will execute. To be able interact with the machine, we need to choose the language we will write in.
        There are many existing languages, each with their specificities.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
        It's important to know in which language we want to start programming in when starting because we learn to program in a language.
        During the summer camps we mainly teach Python, which we recommand to start.
        It's an easy language to start with (compared to other...) and it has many uses. Youtube for example is coded in Python.
        {% endblocktrans %}
      </p>
    </div>
</section>

<section class="wrapper">
    <div class="title">{% trans 'Starting' %}</div>

    <div class="container">
      <div class="highlight-row">
        <div class="highlight">
          {% with url="http://www.france-ioi.org/" %}
          <a target="_blank" href="{{url}}" class="image featured">
            <img src="{% static 'gcc/img/logo_ioi.png' %}" />
          </a>

          <h3><a target="_blank" href="{{url}}">France IOI</a></h3>
          <p>
            {% blocktrans %}
            France-IOI offers a learning platform with exercices organized by level of difficulty, everything accessible completly freely and fully in french !
            {% endblocktrans %}
          </p>
          <a target="_blank" href="{{url}}" class="button style1">France IOI</a>
          {% endwith %}
        </div>
        <div class="highlight">
          {% with url="https://www.codecademy.com/fr" %}
          <a target="_blank" href="{{url}}" class="image featured">
            <img src="{% static 'gcc/img/logo_codeac.svg' %}" />
          </a>

          <h3><a target="_blank" href="{{url}}">Codeacademy</a></h3>
          <p>
            {% blocktrans %}
            If you speak a little english, Codeacademy is a good ressource pour te lancer dans la programation.
            {% endblocktrans %}
          </p>
          <a target="_blank"  href="{{url}}" class="button style1">Codeacademy</a>
          {% endwith %}
        </div>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="title">Se lancer</div>
  <div class="container">
    <p>
      L’avantage quand on apprend l'informatique, c’est qu'on peut vraiment en faire ce qu’on veut.
      Il y a beaucoup de sous domaines et d'applications en informatique, et pour continuer à coder, c’est motivant de trouver quelque chose qui nous plait.
      Voici quelques exemples :
    </p>

    <div class="feature-list">
      <section class="row irr_10rem_1fr">
        {% with url="https://djangogirls.org/" %}
        <div class="img-container">
          <a href="{{url}}">
            <img src="https://djangogirls.org/static/img/global/logo.png" />
          </a>
        </div>
        <div>
          <h3><a href="{{url}}">Django girls</a></h3>
          <p>
            Elles ont écrit un tutoriel pour la création d’un blog en Python avec le framework Django.
            Il a été traduit entièrement en français et est très accessible.
            Django est un outil très puissant pour le web. Les sites de GCC! et Prologin utilisent d’ailleurs ce framework.
          </p>
        </div>
        {% endwith %}
      </section>
      <section class="row irr_10rem_1fr">
        <div class="img-container">
          <a href="{% url 'home' %}">
            <img src="{% static 'img/logo_cube.png' %}" />
          </a>
        </div>
        <div>
          <h3><a href="{% url 'home' %}">Prologin</a></h3>
          <p>
            C’est le nom de l’association qui organise les stages mais aussi un concours d’informatique destiné aux jeunes de moins de 21 ans.
            Sur son site, tu peux trouver les archives des exercices des années précédentes.
            Ce sont des petits problèmes qui donnent une entrée et demandent une réponse précise, c’est à toi d’écrire le programme qui trouve la réponse !
          </p>
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %}
