{% extends "gcc/base.html" %}
{% load static %}

{% block content %}
	<!-- Intro -->
	<section id="intro" class="wrapper style1">
		<div class="container">
			<div class="title">Remerciements</div>

			<div class="row">
				<div class="off-2-large col-8-large off-1-medium col-10-medium off-0-small col-12-small">
					<p class="style2" style="font-size: 1.5em; padding: 20px; font-weight: normal;">
						Nous remercions nos sponsors sans qui les stages ne pourraient pas être possible.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Main -->
	<section id="main" class="wrapper style2">
		<div class="container">
			<div class="title">Nos sponsors</div>

			<div class="row">
				<div class="off-1 col-2 col-4-medium col-6-small">
					<a Lhref="https://edu.google.com/intl/fr_be/?modal_active=none">
						<img alt="Google Education" src="{% static 'gcc/img/sponsors/google_edu.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="col-2 col-4-medium col-6-small">
					<a Lhref="https://www.fondation-blaise-pascal.org/">
						<img alt="Fondation Blaise Pascal" src="{% static 'gcc/img/sponsors/logo_fondation_bp.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="col-2 col-4-medium col-6-small">
					<a Lhref="http://milyon.universite-lyon.fr/">
						<img alt="Milyon" src="{% static 'gcc/img/sponsors/milyon.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="col-2 col-4-medium col-6-small">
					<a Lhref="http://www.ens-lyon.fr/">
						<img alt="ENS de Lyon" src="{% static 'gcc/img/sponsors/ens_lyon.png' %}" style="max-width: 100%"/>
					</a>
				</div>
				<div class="col-2 col-4-medium col-6-small">
					<a Lhref="http://www.epita.fr/">
						<img alt="EPITA" src="{% static 'gcc/img/sponsors/epita.png' %}" style="max-width: 100%"/>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
