{% extends "gcc/base.html" %}
{% load static %}

{% block title %}GCC! − L'équipe{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "gcc/css/team.css"%}">
{% endblock %}

{% block content %}
<section>
  {% if editions %}
  <!-- Trainers for first edition -->
	<h1>Dernière édition ({{ editions.first.year }})</h1>
  {% include "gcc/elements/trainer_list.html" with trainers=editions.first.trainers %}
  <!-- Grille des années (avec le poster en fond) -->
	<h1>Editions de GCC!</h1>
	<div class="grid">
		{% for e in editions %}
		<a href="{% url "gcc:team_edition" e.year %}">
			<img src="FIXME" alt="Affiche edition {{e.year}}">
			<h2>{{ e.year }}</h2>
		</a>
		{% endfor %}
	</div>
	{% else %}
	<p>Pas d'éditions enregistrées</p>
	{% endif %}
</section>
{% endblock %}
