{% extends "gcc/base.html" %}
{% load static %}

{% block title %}GCC! − L'équipe {{year}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "gcc/css/team.css"%}">
{% endblock %}

{% block content %}
<section>
  <h1>L'équipe de {{year}}</h1>
  {% if edition %}
  <!-- Trainers for first edition -->
  {% include "gcc/elements/trainer_list.html" with trainers=edition.trainers %}
	{% else %}
	<p>Pas d'édition enregistrée pour l'année selectionnée</p>
	{% endif %}
</section>
{% endblock %}
