{% load static i18n utils %}{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block super_title %}{% block title %}{% endblock %} – Prologin{% endblock %}</title>

	{# Boostrap, FontAwesome #}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	{# Custom #}
	<link rel="stylesheet" type="text/css" href="{% static 'prologin.css' %}" />
	{% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

	{# Header #}
	{% block super_header %}
	<div class="navbar-header">
		<div class="navbar navbar-default">
		<div class="container">
				<div class="navbar-brand">
					<a href="{% url 'home' %}">
						<img src="{% static 'logo_cube_small.png' %}" alt="Prologin">
						Prologin
						<small>{% get_setting 'PROLOGIN_EDITION' %}</small>
					</a>
				</div>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-collapse collapse pull-right">
					{% include "prologin/main-menu.html" %}
				</div>
			</div>
		</div>
	</div>
	{% endblock super_header %}

	{% block super_content %}
	{# Content #}
	<div class="container">
		{# {% block breadcrumbs %}<li></li>{% endblock %} #}

		{% include 'prologin/messages.html' %}

		{% block content %}{% endblock %}
	</div>
	{% endblock super_content %}

	{# Footer #}
	<footer>
		<div class="container">
			Copyright &copy; 1998-{% now 'Y' %}
			{% trans "Prologin, le Concours National d'Informatique." %}<br>
			<a href="#TODO">{% trans "Mentions légales" %}</a>
		</div>
	</footer>

	{# Scripts #}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	{% block extra_script %}{% endblock %}
</body>
</html>
