<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Prologin{% block title %}{% endblock %}</title>
    <link href="{% static 'favicon.png' %}" rel="icon">

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <!-- JQuery UI -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" />

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'prologin.css' %}" />
  </head>
  <body>
    <header id="header">
      <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span2"><div id="logo" class="visible-desktop"></div></div>
	  <div class="span8">
	    <div class="row-fluid">
	      <h1 id="title">Prologin</h1>
	    </div>
	    <div id="breadcrumbs">
	      <ul class="breadcrumb">
		<li><a href="#">Accueil</a> <span class="divider">&gt;</span></li>
		<li><a href="#">Forum</a> <span class="divider">&gt;</span></li>
		<li class="active">Data</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span2">
	  {% include "prologin/navigation.html" %}
	</div>
	<div id="content-block" class="span8">
	  <div>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in fermentum magna. Mauris ultricies iaculis sollicitudin. Aenean metus diam, malesuada nec felis et, pretium consectetur turpis. Aenean tortor quam, scelerisque a rhoncus id, vestibulum eu tortor. Nulla ante sem, mollis ut rutrum vitae, suscipit id augue. Vivamus nibh purus, lacinia vitae suscipit ac, volutpat id ligula. Etiam enim erat, hendrerit vel sollicitudin sed, scelerisque ac massa. Integer tristique ut urna sit amet aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	    <p>Proin in quam dui. Curabitur rutrum est ut pretium vehicula. Morbi id enim felis. Vivamus a orci nec augue fringilla dignissim ut eu lorem. In dapibus tempor viverra. Aenean ut turpis ac nisl ultrices vehicula. Nulla dapibus ullamcorper odio, sit amet gravida dolor auctor vitae. Suspendisse egestas felis eget lacinia malesuada. Vestibulum vitae dui tellus. Pellentesque lobortis aliquam arcu, sit amet cursus tellus porta pellentesque. Nulla consequat purus et tellus hendrerit interdum. Aenean posuere ultrices arcu a laoreet. Suspendisse bibendum turpis a dui euismod dignissim. Morbi vitae felis accumsan, condimentum lectus eget, auctor nulla. Vestibulum feugiat bibendum eros ut accumsan.</p>
	    <p>Nulla varius urna vel turpis feugiat, vel volutpat augue varius. Morbi fringilla est tellus, id dignissim augue auctor in. In feugiat diam odio, sed fringilla lorem hendrerit ac. Cras id nulla sit amet dui suscipit viverra id eu libero. Nullam mattis mollis tempus. Pellentesque vehicula risus vel aliquam sodales. Aliquam felis leo, consectetur vel euismod eget, ultrices ac nisi. Maecenas porttitor scelerisque diam, eu sodales ipsum. Proin adipiscing mauris nec tristique rutrum. Sed nibh tortor, molestie ut eros ut, suscipit imperdiet urna. Nullam vel lectus cursus, sagittis nunc pharetra, pretium velit. Mauris in convallis nulla. Vivamus at volutpat mi.</p>
	    <p>In quis mollis lorem. Nam dapibus turpis sapien, a ultricies lectus vestibulum a. Pellentesque cursus facilisis bibendum. Suspendisse venenatis facilisis dolor eget pellentesque. Cras rutrum cursus risus a congue. Vivamus mauris elit, commodo vel nunc id, porta dignissim felis. Cras adipiscing eros turpis, quis elementum lacus gravida ut. Ut et pellentesque justo. Vestibulum faucibus ipsum a lacus auctor, at mollis nisl congue. Aenean ac nisl sed ligula molestie eleifend. Praesent a commodo mauris. Donec nibh mi, molestie nec enim quis, convallis cursus lectus. Praesent feugiat, magna sit amet fringilla sollicitudin, massa odio pretium lacus, ac consectetur lorem elit a nulla. Sed aliquam mi dolor, sed feugiat dui semper et. Nam venenatis neque augue, a venenatis dui auctor ac.</p>
	    <p>Pellentesque odio nisl, vestibulum hendrerit eleifend eu, hendrerit non diam. Nullam commodo dolor ac justo malesuada, id aliquet tellus egestas. In fringilla mattis leo quis tempus. Curabitur laoreet, est at fringilla aliquet, metus elit consectetur purus, a fermentum erat est in est. Mauris luctus vitae diam eu consectetur. Vestibulum vitae tristique libero. Vivamus non felis mattis, suscipit dui ac, venenatis libero. Vivamus at tristique libero. Proin euismod urna sollicitudin metus pharetra, sit amet sollicitudin velit vehicula.</p>
	    {% block content %}{% endblock %}
	  </div>
	  <p id="footer">Prologin, le Concours National d'Informatique</p>
	</div>
	<div class="span2">
	  <ul id="sponsors-lst">
	    <li>Sponsor 1</li>
	    <li>Sponsor 2</li>
	    <li>Sponsor 3</li>
	  </ul>
	</div>
      </div>
    </div>
  </body>
</html>
