<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    {% load breadcrumbs %}
    <meta charset="utf-8">
    <title>Prologin{% block title %}{% endblock %}</title>
    <link href="{% static 'favicon.png' %}" rel="icon">

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <!-- JQuery UI -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" />

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'prologin.css' %}" />
    <script src="{% static 'news/latest.jquery.js' %}"></script>
    {% block custom-headers %}{% endblock %}
  </head>
  <body>
    <header id="header">
      <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span2"><div id="logo" class="visible-desktop"></div></div>
	  <div class="span8">
	    <div class="row-fluid">
	      <h1 id="title">Prologin</h1>
	    </div>
	    <div id="breadcrumbs">
	      <ul class="breadcrumb">
		{% block breadcrumbs %}
		{% breadcrumb Accueil %}
		{% endblock %}
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span2">
	  {% include "prologin/navigation.html" %}
	  {% include "prologin/latest_news.html" %}
	</div>
	<div id="content-block" class="span8">
	  <div>
	    {% block content %}{% endblock %}
	  </div>
	  <p id="footer">Prologin, le Concours National d'Informatique</p>
	</div>
	<div class="span2">
	  {% include "prologin/social.html" %}
	  <h2>Nos partenaires</h2>
	  <ul id="sponsors-lst">
	    <li>Sponsor 1</li>
	    <li>Sponsor 2</li>
	    <li>Sponsor 3</li>
	  </ul>
	</div>
      </div>
    </div>
  </body>
</html>
