{% load staticfiles %}

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon-76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon-152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon-180.png' %}">
<link rel="icon" type="image/png" href="{% static 'img/favicon-16.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'img/favicon-32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'img/favicon-96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'img/favicon-194.png' %}" sizes="194x194">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-title" content="Prologin">
<meta name="application-name" content="Prologin">
<meta name="msapplication-TileColor" content="#35479a">
<meta name="msapplication-TileImage" content="{% static 'img/mstile-144x144.png' %}">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="#35479a">