{% load i18n %}
<div class="row">
	<div class="col-xs-6">
		<h3>{% trans "Prologin" %}</h3>
		<ul class="nav">
			<li><a href="{% url 'pages:about-organization' %}">{% trans "The association" %}</a></li>
			<li><a href="#TODO">{% trans "Contact us" %}</a></li>
		</ul>
		<h3>{% trans "More" %}</h3>
		<ul class="nav">
			<li><a href="#TODO">{% trans "Press kit" %}</a></li>
		</ul>
	</div>
	<div class="col-xs-6">
		<h3>{% trans "Terms" %}</h3>
		<ul class="nav">
			<li><a href="#TODO">{% trans "Legal notice" %}</a></li>
			<li><a href="#TODO">{% trans "Contest rules" %}</a></li>
		</ul>
		<h3>{% trans "Stay tuned!" %}</h3>
		<a href="{% url 'zinnia:entry_latest_feed' %}" title="{% trans "Prologin news Atom stream" %}" class="social">
			<span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
				<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
			</span>
		</a>
		{# social shit #}
		<a href="https://www.facebook.com/prologin" title="{% trans "Prologin on Facebook" %}" class="social">
			<span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
				<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			</span>
		</a>
		<a href="https://www.twitter.com/prologin" title="{% trans "Prologin on Twitter" %}" class="social">
			<span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
				<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</div>
</div>
{% comment %}
<div class="legal">
	<p>
		Copyright &copy; 2000-{% now 'Y' %} {% trans "Prologin est une association de loi 1901 enregistrée au journal officiel du 08/04/2000." %}
		<br>
		{% trans "Siège social : 14-16, rue Voltaire 94270, Le Kremlin-Bicêtre" %}
	</p>
</div>
{% endcomment %}
