{% load i18n %}
{% load navigation rules %}

<ul class="nav navbar-nav pull-right">
{% if request.current_events.qualification.is_active %}
  <li class="{% active '^/contest/' %}"><a href="{% url 'contest:qualification_summary' request.current_edition.year %}">{% trans "Participate" %}</a></li>
{% endif %}
  <li class="{% active '^/about/' %}"><a href="{% url 'pages:about-contest' %}">{% trans "Discover" %}</a></li>
  <li class="{% active '^/train/' %}"><a href="{% url 'problems:index' %}">{% trans "Train" %}</a></li>
  <li class="{% active '^/archives/' %}"><a href="{% url 'archives:index' %}">{% trans "Archives" %}</a></li>
  <li class="{% active '^/forum/' %}"><a href="{% url 'forum:index' %}">{% trans "Forums" %}</a></li>
{% if request.user.is_staff %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star"></i> {% trans "Admin" %} <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="{% url 'admin:index' %}">{% trans "Django administration" %}</a></li>
      <li class="divider"></li>
      {% has_perm 'correction.can_correct' request.user None as can_correct %}
      {% if can_correct %}<li><a href="{% url 'contest:correction:index' %}"><i class="fa fa-fw fa-wrench"></i> {% trans "Correction" %}</a></li>{% endif %}
      {% has_perm 'documents.generate_batch_document' request.user None as can_correct %}
      {% if can_correct %}<li><a href="{% url 'documents:index' %}"><i class="fa fa-fw fa-archive"></i> {% trans "Documents" %}</a></li>{% endif %}
      {% if may_impersonate %}
      <li>
        <form class="form-inline form-impersonate" method="post" action="{% url 'users:impersonate' %}">
          {% csrf_token %}
          <i class="fa fa-fw fa-user-secret"></i>
          <input type="hidden" id="impersonate-user-id" name="user">
          <input id="impersonate-username" name="username" type="text" class="form-control" placeholder="{% trans "Impersonate user" %}">
        </form>
      </li>
      {% endif %}
    </ul>
  </li>
{% endif %}
  <li class="sep"><a>&nbsp;</a></li>
  {% if user.is_authenticated %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{ user.username }} <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="{% url 'users:profile' user.id %}"><i class="fa fa-user"></i> {% trans "My profile" %}</a></li>
      <li><a href="{% url 'users:edit' user.id %}"><i class="fa fa-cog"></i> {% trans "Profile &amp; settings" %}</a></li>
      <li class="divider"></li>
      <li><form method="post" action="{% url 'users:logout' %}">{% csrf_token %}<button type="submit"><i class="fa fa-power-off"></i> {% trans "Sign out" %}</button></form></li>
    </ul>
  </li>
  {% else %}
  <li class="{% active 'users:login' %}">
    <a href="{% url 'users:login' %}?next={{ request.get_full_path }}">{% trans "Sign in" %}</a>
  </li>
  {% endif %}
</ul>
