{% load i18n navigation %}
<ul class="nav navbar-nav pull-right">
	<li class="{% active '[a-z]+/about/' %}"><a href="{% url 'pages:about-contest' %}">{% trans "Discover" %}</a></li>
	<li class="{% active '[a-z]+/train/' %}"><a href="{% url 'training:index' %}">{% trans "Train" %}</a></li>
	<li><a href="{% active '^archives/' %}">{% trans "Archives" %}</a></li>
	<li class="{% active '[a-z]+/forum/' %}"><a href="{% url 'forum:home' %}">{% trans "Forums" %}</a></li>
	<li class="sep"><a>&nbsp;</a></li>
	{% if user.is_authenticated %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{ user.username }} <span class="caret"></span></a>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
			<li><a href="{% url 'users:profile' user.id %}"><i class="fa fa-user"></i> {% trans "My profile" %}</a></li>
			<li><a href="{% url 'users:edit' user.id %}"><i class="fa fa-cog"></i> {% trans "Profile &amp; settings" %}</a></li>
			{% if user.is_staff %}
			<li><a href="{% url 'admin:index' %}"><i class="fa fa-star"></i> {% trans "Administration" %}</a></li>
			{% endif %}
			<li class="divider"></li>
			<li><a href="{% url 'users:logout' %}"><i class="fa fa-power-off"></i> {% trans "Sign out" %}</a></li>
		</ul>
	</li>
	{% else %}
	<li class="{% active 'users:login' %}">
		<a href="{% url 'users:login' %}?next={{ request.get_full_path }}">{% trans "Sign in" %}</a>
	</li>
	{% endif %}
</ul>
