{% load i18n %}
{% if request.session.is_hijacked_user %}
  <div class="hijacked-warning" role="alert">
    <div class="container">
    <form action="{% url 'hijack:release_hijack' %}" method="post">{% csrf_token %}
      <button type="submit" class="btn btn-default btn-xs pull-right">
        <i class="fa fa-sign-out"></i> {% trans "Exit session" %}</button>
    </form>
      <i class="fa fa-fw fa-user-secret"></i>
      {% blocktrans with user=request.user %}You are currently browsing on behalf of <strong>{{ user }}</strong>. Keep
        focused.{% endblocktrans %}
    </div>
  </div>
{% endif %}