{% load i18n %}

<ul class="row countdown">
  <li class="col-xs-3 col-sm-3"><span id="countdown-days">1</span> {% trans "days" %}</li>
  <li class="col-xs-3 col-sm-3"><span id="countdown-hours">1</span> {% trans "hours" %}</li>
  <li class="col-xs-3 col-sm-3"><span id="countdown-minutes">1</span> {% trans "minutes" %}</li>
  <li class="col-xs-3 col-sm-3"><span id="countdown-seconds">1</span> {% trans "seconds" %}</li>
</ul>

<style>
.countdown {
  text-align: center;
  padding-left: 0px;
}

.countdown li {
  display: inline-block;
  font-size: 1rem;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .countdown li {
    font-size: 1.5em;
  }

  .countdown li span {
    font-size: 4.5rem;
  }
}
</style>

<script>
(() => {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    let target_date = new Date({{ countdown_timestamp }}),
      countdown_container = document.querySelector(".countdown"),
      days_span = document.getElementById("countdown-days"),
      hours_span = document.getElementById("countdown-hours"),
      minutes_span = document.getElementById("countdown-minutes"),
      seconds_span = document.getElementById("countdown-seconds");

  let update_countdown = (callback) => {
    let now = new Date().getTime(),
        distance = target_date - now;

    if (distance < 0) {
      countdown_container.style.display = "none";
      if (callback) callback();
    } else {
      days_span.innerText = Math.floor(distance / (day));
      hours_span.innerText = Math.floor((distance % (day)) / (hour));
      minutes_span.innerText = Math.floor((distance % (hour)) / (minute));
      seconds_span.innerText = Math.floor((distance % (minute)) / second);
    }
  }

  update_countdown();
  let intervalId = setInterval(() => {
    update_countdown(
        () => {
            document.location.reload();
            clearInterval(intervalId);
        }
    );
  }, 1000);
})();
</script>

