{% extends "prologin/base.html" %}
{% load i18n static news_tags %}

{% block super_title %}{% trans "Prologin, le concours national d'informatique" %}{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />{% endblock %}

{% block super_content %}
{% include "homepage/jumbotron.html" %}

<div class="container">

	{% include "prologin/messages.html" %}

	{% block content %}

	<div class="row">
	<div class="col-sm-9">
	<h1>{% trans "Les dernières news" %}</h1>

	{% for article in articles %}

	<section clas="news-entry">
		<h3><a href="{{ article.get_absolute_url }}" title="{{ article.title }}" rel="bookmark">{{ article.title }}</a></h3>
		<div class="entry-meta-line">
			<p class="entry-info">
				{% with authors=article.authors.all %}
				{% if authors|length %}
				{% trans "Written by" %}
				{% for author in authors %}
				<span class="vcard author">
					<a href="{{ author.get_absolute_url }}" class="fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author"
					title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">{{ author }}</a></span>{% if not forloop.last %}, {% endif %}
					{% endfor %}
					{% trans "on" %}
					{% else %}
					{% trans "Written on" %}
					{% endif %}
					{% endwith %}
					<abbr class="published" title="{{ article.creation_date|date:"c" }}">{{ article.creation_date|date:"DATE_FORMAT" }}</abbr>
					{% if article.within_series %}
					{% url 'dolweb.blog.views.series_index' uid=article.within_series.pk as series_url %}
					{% blocktrans with url=series_url name=article.within_series.name %}/ Part of series <a href="{{ url }}">{{ name}}</a>{% endblocktrans %}
					{% endif %}
					{% if article.forum_thread %}/ <i class="icon-comments"></i> <a href="{{ article.forum_thread.get_absolute_url }}" title="{% trans "Visit forum thread for this article" %}">{% trans "Forum thread" %}</a>{% endif %}
			</p>
		</div>
		<div class="entry-content">
			{{ article.html_content|cuthere_excerpt|safe }}
			<p><a href="{{ article.get_absolute_url }}#cuthere">{% trans "<i class='fa fa-angle-double-right'></i> Lire la suite" %}</a></p>
		</div>
	</section>

	{% endfor %}
	</div>

	<div class="col-sm-3">
		<h2>{% trans "Plus d'infos" %}</h2>
		<ul class="nav">
			<li><a href="#TODO">{% trans "L'association Prologin" %}</a></li>
			<li><a href="#TODO">{% trans "Comment participer ?" %}</a></li>
		</ul>

		{% include "homepage/sponsors.html" %}
	</div>

	</div>

	{% endblock content %}
</div>

{% endblock super_content %}
