{% extends "prologin/base.html" %}
{% load i18n static zinnia news_tags %}

{% block super_title %}{% trans "Prologin, the French National Computer Science Contest" %}{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />{% endblock %}

{% block super_content %}
{% include "homepage/jumbotron.html" %}

<div class="container">

  {% include "prologin/messages.html" %}

  {% block content %}

  <div class="row">

  <div class="col-sm-3">
    {% include "homepage/sponsors.html" %}
  </div>

  <div class="col-sm-9">
  <h2>{% trans "Latest news" %}</h2>

  <ul class="clearfix nav hidden-xs text-center"><li><a href="{% url 'zinnia:entry_archive_index' %}"><i class="fa fa-newspaper-o"></i> {% trans "Browse all news" %}</a></li></ul>

  {% for article in articles %}

  <section class="clearfix news-entry">
    <h3><a href="{{ article.get_absolute_url }}" title="{{ article.title }}" rel="bookmark">{{ article.title }}</a></h3>
    <div class="entry-meta-line text-muted">
      <p class="entry-info">
        {% with authors=article.authors.all %}
        {% if authors|length %}
        {% trans "Written by" %}
        {% for author in authors %}
        <span class="vcard author">
          <a href="{{ author.get_absolute_url }}" class="fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author"
          title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">{{ author }}</a></span>{% if not forloop.last %}, {% endif %}
          {% endfor %}
          {% trans "on" %}
          {% else %}
          {% trans "Written on" %}
          {% endif %}
          {% endwith %}
          <abbr class="published" title="{{ article.creation_date|date:"c" }}">{{ article.creation_date|date:"DATE_FORMAT" }}</abbr>
        {% for tag in article.tags_list %}
          <a href="{% url 'zinnia:tag_detail' tag %}"><span class="label label-default">{{ tag }}</span></a>
        {% endfor %}
      </p>
    </div>
    <div class="entry-content">
      {{ article.html_content|safe }}
    </div>
  </section>

  {% endfor %}

  <ul class="clearfix nav hidden-xs text-center"><li><a href="{% url 'zinnia:entry_archive_index' %}"><i class="fa fa-newspaper-o"></i> {% trans "Browse all news" %}</a></li></ul>

  </div>
  </div>

  {% endblock content %}
</div>

{% endblock super_content %}

{% block extra_script %}
  <script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
  </script>
{% endblock %}
