{% load i18n %}
<section class="home-jumbo jumbotron">
	<div class="container">

		<h1>{% trans "Prologin, le concours national d'informatique." %}</h1>
		<p>{% trans "Vous avez moins de 21 ans ? Participez à Prologin ! L'inscription est gratuite." %}</p>

		{# timeline #}
		<div class="htl">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<div class="line"></div>
				</div>
				{# block-1 #}
				<div class="col-sm-4">
					<div class="tl-block active">
						<div class="row">
							<div class="col-xs-5 col-sm-12">
								<h4>Sélection</h4>
								<p class="date">01 nov. 2014</p>
							</div>
							<div class="col-xs-7 col-sm-12">
								<div class="desc">
									<p>Un QCM et quatre exercices, à résoudre en ligne.</p>
									<p class="text-center signin"><a href="#" class="btn btn-default btn-block">S'inscrire</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# /block-1 #}
				{# block-2 #}
				<div class="col-sm-4">
					<div class="tl-block">
						<div class="row">
							<div class="col-xs-5 col-sm-12">
								<h4>Régionales</h4>
								<p class="date">20 fév. 2015</p>
							</div>
							<div class="col-xs-7 col-sm-12">
								<div class="desc">
									Une épreuve papier et des exercices sur machine dans plusieurs grandes villes de France.
								</div>
							</div>
						</div>
					</div>
				</div>
				{# /block-2 #}
				{# block-3 #}
				<div class="col-sm-4">
					<div class="tl-block">
						<div class="row">
							<div class="col-xs-5 col-sm-12">
								<h4>Finale</h4>
								<p class="date">26 avril 2015</p>
							</div>
							<div class="col-xs-7 col-sm-12">
								<div class="desc">
									Développement d'une IA pendant un week-end, à Paris.
								</div>
							</div>
						</div>
					</div>
				</div>
				{# /block-3 #}
			</div>
		</div>
		{# /timeline #}
	</div>
</section>
