{% load i18n %}

<div class="col-sm-4">
  <div class="tl-block {% if phase_type == 'future' or phase_event == 'qualification' and phase_type != 'corrected' %}active{% endif %}">
    <div class="row">
      <div class="col-xs-5 col-sm-12">
        <h4>{% trans "Qualification" %}</h4>
        <p class="date">
          {% if qualif.date_begin or qualif.date_end %}
            {{ qualif.date_begin|date:"d b Y"|default:no_such_date }}
            →&nbsp;{{ qualif.date_end|date:"d b Y"|default:no_such_date }}
          {% else %}
            {{ no_such_date }}
          {% endif %}
        </p>
      </div>
      <div class="col-xs-7 col-sm-12">
        <div class="desc">
        {% if phase_type == 'future' %}
          {% include "homepage/stub-qualification-future.html" %}
        {% elif phase_event == 'qualification' and phase_type == 'active' %}
          {% include "homepage/stub-qualification-active.html" %}
        {% elif phase_event == 'qualification' and phase_type == 'done' %}
          {% include "homepage/stub-qualification-done.html" %}
        {% elif phase_type == 'finished' %}
          {% include "homepage/stub-qualification-finished.html" %}
        {% else %}
          {% include "homepage/stub-qualification-corrected.html" %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
