{% load i18n %}

<div class="col-sm-4">
  <div class="tl-block {% if phase.qualification == 'future' or phase.qualification == 'active' or phase.qualification == 'done' %}active{% endif %}">
    <div class="row">
      <div class="col-xs-5 col-sm-12">
        <h4>{% trans "Qualification" %}</h4>
        <p class="date">
          {% if qualif.date_begin or qualif.date_end %}
            {{ qualif.date_begin|date:"d b Y"|default:no_such_date }}
            →&nbsp;{{ qualif.date_end|date:"d b Y"|default:no_such_date }}
          {% else %}
            {{ no_such_date }}
          {% endif %}
        </p>
      </div>
      <div class="col-xs-7 col-sm-12">
        <div class="desc">
        {% if phase.qualification == 'future' %}
          {% include "homepage/stub-qualification-future.html" %}
        {% elif phase.qualification == 'active' %}
          {% include "homepage/stub-qualification-active.html" %}
        {% elif phase.qualification == 'done' %}
          {% include "homepage/stub-qualification-done.html" %}
        {% elif phase.qualification == 'corrected' %}
          {% include "homepage/stub-qualification-corrected.html" %}
        {% else %}
          {% include "homepage/stub-qualification-finished.html" %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
