{% load i18n %}
<section class="home-jumbo jumbotron">
	<div class="container">

		<h1>{% trans "Prologin, le concours national d'informatique." %}</h1>
		<p>{% blocktrans %}Vous êtes né en {{ born_year }} ou après&nbsp;? Participez à Prologin&nbsp;! L'inscription est gratuite.{% endblocktrans %}</p>

		{# timeline #}
		<div class="htl">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<div class="line">
						<i class="fa fa-chevron-right" style="left: 25%"></i>
						<i class="fa fa-chevron-right" style="left: 75%"></i>
					</div>
				</div>
				{# block-1 #}
				<div class="col-sm-4">
					<div class="tl-block active">
						<div class="row">
							<div class="col-xs-5 col-sm-12">
								<h4>Sélection</h4>
								<p class="date">01 nov. 2014</p>
							</div>
							<div class="col-xs-7 col-sm-12">
								<div class="desc">
									<p>Un QCM et quatre exercices, à résoudre en ligne.</p>
									{% if not user.is_authenticated %}
									<p class="text-center signin"><a href="{% url 'users:register' %}" class="btn btn-default btn-block">S'inscrire</a></p>
									{% else %}
									<ul class="list-unstyled checklist hide-no-active">
										<li class="text-success"><a href="#QCM"><i class="fa fa-check-square-o"></i> QCM soumis</a></li>
										<li class="text-danger"><a href="#EXOS"><i class="fa fa-square-o"></i> 1/4 exercices terminés</a></li>
									</ul>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				{# /block-1 #}
				{# block-2 #}
				<div class="col-sm-4">
					<div class="tl-block">
						<div class="row">
							<div class="col-xs-5 col-sm-12">
								<h4>Régionales</h4>
								<p class="date">20 fév. 2015</p>
							</div>
							<div class="col-xs-7 col-sm-12">
								<div class="desc">
									<p>Une épreuve papier et des exercices sur machine dans plusieurs grandes villes de France.</p>
									<p class="hide-no-active"><a href="#TRAIN" class="btn btn-default btn-block"><i class="fa fa-tachometer"></i> {% trans "S'entraîner" %}</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# /block-2 #}
				{# block-3 #}
				<div class="col-sm-4">
					<div class="tl-block last">
						<div class="row">
							<div class="col-xs-5 col-sm-12">
								<h4>Finale</h4>
								<p class="date">26 avril 2015</p>
							</div>
							<div class="col-xs-7 col-sm-12">
								<div class="desc">
									<p>Développement d'une IA pendant un week-end, à Paris.</p>
									<p class="hide-no-active"><a href="#TRAIN" class="btn btn-default btn-block"><i class="fa fa-tachometer"></i> {% trans "S'entraîner" %}</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# /block-3 #}
			</div>
		</div>
		{# /timeline #}
	</div>
</section>
