{% load i18n %}

<div class="col-sm-4">
  <div class="tl-block {% if phase_event == 'qualification' and phase_type == 'corrected' or phase_event == 'semifinal' and phase_type != 'corrected' %}active{% endif %}">
    <div class="row">
      <div class="col-xs-5 col-sm-12">
        <h4>{% trans "Regional events" %}</h4>
        <p class="date">
          {% if firstsmi.date_begin or lastsemi.date_begin %}
            {{ firstsemi.date_begin|date:"d b Y"|default:no_such_date }}
            →&nbsp;{{ lastsemi.date_begin|date:"d b Y"|default:no_such_date }}
          {% else %}
            {{ no_such_date }}
          {% endif %}
        </p>
      </div>
      <div class="col-xs-7 col-sm-12">
        <div class="desc">
          <p>{% trans "Consists of a written exam and some problems to solve on the computer. Exam centers are distributed accross France large cities." %}</p>
        {% if semifinals %}
          {% include "homepage/stub-semifinal-result.html" %}
        {% endif %}
        {% if phase_event == 'qualification' and phase_type == 'corrected' or phase_event == 'semifinal' and phase_type == 'active' %}
          <p>
            <a href="{% url 'problems:index' %}" class="btn btn-default btn-block">
              <i class="fa fa-tachometer"></i> {% trans "Train now" %}
            </a>
          </p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>