/*
 * Page layout
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:700,300);
html, body {
    margin: 0;
    padding: 0;
    background-color: #f1f2f2;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #494949;
    text-rendering: optimizelegibility;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 150px;
}

.main-row {
    margin-right: 0;
    padding-left: 20px;
}

#content-block {
    padding: 0;
    background-color: white;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;

    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#content-block > div {
    padding: 10px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    padding: 30px;
    color: #ededed;
    font-size: 0.8em;
    background: url('footer.png') repeat;
}


/*
 * Header
 */

.navbar-default {
    min-height: 90px;
    background: none;
    border: none;
    background: #35479a;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    height: 90px;
    padding: 15px 0;
    line-height: 1;
    font-size: 1.6em;
}
.navbar-default .navbar-brand small {
    font-size: 0.6em;
    display: block;
}
.navbar-default .navbar-brand a, .navbar-default .navbar-brand a:visited {
    display: block;
    position: relative;
    padding-top: 8px;
    padding-left: 65px;
    color: #fefefe;
    text-decoration: none;
}
.navbar-default .navbar-brand a img {
    position: absolute;
    left: 0;
    top: 0;
}
.navbar-header {
    float: none;
}
.navbar-default .navbar-toggle {
    margin: 27px 15px 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fefefe;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #7389AE;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    margin-right: 0;
}
.navbar-default .navbar-collapse {
    box-shadow: none;
}
.navbar-default .navbar-nav {
    margin-top: 19px;
}
.navbar-default .navbar-nav > li > a {
    color: #fefefe;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fefefe;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background: #7389AE;
    }
}
.navbar-default .collapsing .navbar-nav > li.sep,
.navbar-default .in .navbar-nav > li.sep {
    display: none;
}
.navbar-default .navbar-nav > li.sep > a, .navbar-default .navbar-nav > li.sep > a:hover {
    cursor: default;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fefefe;
    background-color: #7389AE;
}
.navbar-default .dropdown-menu {
    border-radius: 0;
    border: none;
    padding: 0;
}
.navbar-default .dropdown-menu li.divider {
    margin: 0;
}
.navbar-default .dropdown-menu li a {
    padding: 8px 20px;
}
.navbar-default .dropdown-menu li a:hover {
    background: #7389AE;
    color: #fefefe;
}

/*
 * Breadcrumbs
 */

#breadcrumbs {
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;

    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: #c6c9d8;
}

.breadcrumb {
    margin: 0;
    background-color: transparent;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.breadcrumb > li, .breadcrumb a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #737ab9;
    text-shadow: none;
}

.breadcrumb > li + li:before {
    color: #737ab9;
    content: ">";
}


/*
 * Left column
 */

#menu-title, #login-title {
    margin-bottom: 0;
    padding: 5px;
    background-color: #202b66;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    color: #fff;
}

#main-menu, #login-wrapper {
    border: 1px solid #202b66;
}

#login-wrapper {
    padding: 10px;
}

#main-menu, #main-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#main-menu li {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #c6c9d8;
}

#main-menu a, .menu-main-elem {
    display: block;
    padding: 5px 10px 5px 10px;
}

.menu-main-elem {
    color: #33449d;
    cursor: pointer;
}

#main-menu .sub-menu a {
    background-color: #f1f2f2;
}

#main-menu a:hover, .menu-main-elem:hover, #main-menu .menu-current > a {
    background-color: #202b66;
    color: white;
    text-decoration: none;
}

#main-menu > .menu-collapsed {
}

#main-menu > .menu-expanded {
}

#main-menu a, #latest-news a {
    font-family: Helvetica, Arial, sans-serif;
    color: #33449d;
}

#latest-news {
    margin-left: 0;
    padding-left: 0;
}

#latest-news li {
    list-style-type: none;
}

#latest-news-pagination .active > a {
    color: #33449d;
    background-color: #fff;
    border-color: #ddd;
}


/*
 * Right column
 */

#sponsors-lst {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
}

#sponsors-lst > li {
    margin: 0;
    padding: 10px;
}

.social-bar {
    margin-bottom: 10px;
}


/*
 * Team
 */

.team-member {
    min-height: 80px;
}
.team-member > div > a > img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}


/*
 * Forms
 */

fieldset {
    margin-top: 15px;
}

fieldset > div {
    text-align: right;
    padding-right: 25%;
}


/*
 * Elements
 */

#title {
    padding-top: 20px;
    color: white;
    text-shadow: #494e53 0px 1px 3px;
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

h2 {
    font-size: 19px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 24px;
}

a, a:visited {
    color: #33449d;
}
