{% extends "prologin/base.html" %}
{% load i18n drupal utils bootstrap staticfiles django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Training" "training:index" %}
	{% breadcrumb challenge.year "" %}
	{% breadcrumb challenge.event_type|choiceenum_label "training:challenge" challenge.year challenge.event_type.name %}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans with type=challenge.event_type|choiceenum_label year=challenge.year %}Problems for {{ type }} {{ year }}{% endblocktrans %}{% endblock %}

{% block content %}

	<h1>{% blocktrans with type=challenge.event_type|choiceenum_label year=challenge.year %}Problems for {{ type }} {{ year }}{% endblocktrans %}</h1>

	<article class="challenge-statement">
		{{ challenge.subject|drupaltpl }}
	</article>

	<div class="list-group">
		<div class="list-group-item list-group-item-info">
			{% trans "The problems" %}
			<span class="badge alert-info">
				{% if request.user.is_authenticated %}
					{% if challenge_done %}{% trans "Congrats, you solved all the problems!" %} ⋅{% endif %}
					{% blocktrans with score=challenge_score %}{{ score }} pts{% endblocktrans %}
				{% endif %}
			</span>
		</div>
		{% for problem in problems %}
			{% include "problems/stub_problem.html" %}
		{% endfor %}
	</div>

{% endblock %}