{% extends "prologin/base.html" %}
{% load i18n markup drupal utils bootstrap staticfiles django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "training:index" %}{% trans "Training" %}{% endbreadcrumb_for %}
  {% breadcrumb challenge.year "" %}
  {% breadcrumb challenge.event_type|choiceenum_label "training:challenge" challenge.year challenge.event_type.name %}
  {% breadcrumb_for "training:challenge-scoreboard" challenge.year challenge.event_type.name %}{% trans "Scoreboard" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% trans "Scoreboard" %} – {% blocktrans with type=challenge.event_type|choiceenum_label year=challenge.year context "Problem title, eg. 2015 Qualification" %}{{ type }} {{ year }}{% endblocktrans %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9" role="main">
      <h1>{% trans "Scoreboard" %} – {% blocktrans with type=challenge.event_type|choiceenum_label year=challenge.year %}{{ type }} {{ year }}{% endblocktrans %}</h1>
      </h1>

      <article id="challenge-scoreboard">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>{% trans "Rank" %}</th>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Points" %}</th>
            </tr>
          </thead>
          <tbody>
          {% for line in contestant_scores %}
            <tr>
              <td>{% if line.rank <= 3 %}
                <span class="challenge-trophy-{{ line.rank }}">
                <i class="fa fa-trophy"></i></span>
                {% endif %}</td>
              <td><strong>{{ line.rank }}</strong>
                {% if line.ex_aequo %}<small>{% trans "(ex-aequo)" %}</small>{% endif %}</td>
              <td><a href="{% url 'users:profile' line.user_id %}">
                  {{ line.user__username }}</a></td>
              <td>{{ line.total_score }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3" class="text-muted">
                <i class="fa fa-frown-o"></i> {% trans "No scores to display" %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </article>

    </div>
  </div>

{% endblock %}
