{% extends "prologin/base.html" %}
{% load i18n markdown drupal utils bootstrap staticfiles django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Training" "training:index" %}
	{% breadcrumb challenge.year "" %}
	{% breadcrumb challenge.event_type|choiceenum_label "training:challenge" challenge.year challenge.event_type.name %}
	{% breadcrumb problem.title "training:problem" challenge.year challenge.event_type.name problem.name %}
{% endblock breadcrumbs %}

{% block body_tag %}data-spy="scroll" data-target="#problem-nav"{% endblock %}
{% block title %}{{ problem.title }} – {% blocktrans with type=challenge.event_type|choiceenum_label year=challenge.year context "Problem title, eg. 2015 Qualification" %}{{ type }} {{ year }}{% endblocktrans %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-9" role="main">
			<h1>{{ problem.title }}</h1>

			<div class="problem-meta-info text-muted">
				<p>{% blocktrans with level=problem.difficulty %}Level {{ level }}{% endblocktrans %} ⋅
					{% blocktrans count meta_tackled_by as count %}Tackled by {{ count }} member{% plural %}Tackled by {{ count }} members{% endblocktrans %} ⋅
					{% blocktrans count meta_solved_by as count %}Solved by {{ count }} member{% plural %}Solved by {{ count }} members{% endblocktrans %}
				</p>
			</div>

			<article class="problem-statement" id="statement">
				{% if problem.subject_markdown %}
					{% markdown problem.subject_markdown %}
				{% else %}
					{{ problem.subject_html|safe }}
				{% endif %}
			</article>

			<article class="problem-constraints" id="constraints">
				<h3>{% trans "Runtime constraints" %}</h3>
				<dl class="dl-horizontal">
					<dt>{% trans "Maximum memory usage" %}</dt>
					<dd>{% blocktrans with amount=problem.properties.mem %}{{ amount }}kilobytes{% endblocktrans %}</dd>
					<dt>{% trans "Maximum execution time" %}</dt>
					<dd>{% blocktrans with amount=problem.properties.time %}{{ amount }}milliseconds{% endblocktrans %}</dd>
				</dl>
			</article>

			<article class="problem-samples" id="samples">
				<h3>{% trans "Input/output samples" %}</h3>

				{% for sample in problem.samples %}
					<dl class="dl-horizontal problem-sample">
						<dt>{% trans "Sample input" %}</dt>
						<dd>
							<pre><code>{{ sample.input }}</code></pre>
						</dd>
						<dt>{% trans "Sample output" %}</dt>
						<dd>
							<pre><code>{{ sample.output }}</code></pre>
						</dd>
						{% if sample.comment %}
							<dt>{% trans "Note" %}</dt>
							<dd>{% markdown sample.comment %}</dd>
						{% endif %}
					</dl>
				{% endfor %}
			</article>

			<article class="problem-submit" id="submit">
				<h2>{% trans "Submit your solution" %}</h2>
				{% if request.user.is_authenticated %}
					<p><small class="text-muted">{% trans "You can write your solution in the area below or use your favorite editor and upload a file. Don't forget to set the right language using the dropdown next to the “Submit” button." %}</small></p>
					<div class="panel panel-default">
						<form method="POST" id="editor-form" class="form-inline">
						<div class="panel-body">
							<select id="code-editor-theme" class="hide">{# filled by Javascript from Ace themelist #}</select>
							<select id="code-editor-font-size" class="hide">
								<option value="11">11px</option>
								<option value="12" selected>12px</option>
								<option value="14">14px</option>
								<option value="18">18px</option>
							</select>

							<textarea name="code" class="clearfix form-control" style="margin-top: 15px; font-family: monospace;" rows="20"></textarea>
							<div id="code-editor" class="code-editor" style="border-top: 1px solid #ddd; margin: 15px -15px -15px -15px;"></div>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-7">
									<small>{% trans "Upload a file instead" %}</small><br>
									<input type="file" name="sourcefile" class="form-control" title="{% trans "Upload a source file" %}"/>
								</div>
								<div class="col-md-5 text-right">
									<select name="language" style="width: auto;" class="form-control">{% for lng in languages %}
										<option value="{{ lng.name }}" data-mode="{{ lng.value.ace_mode }}" {% if lng.value.correctable %}data-correctable{% endif %}>{{ lng.value.name }}</option>
									{% endfor %}</select>
									<button type="submit" class="btn btn-success"><i class="fa fa-upload"></i> {% trans "Submit" %}</button>
								</div>
							</div>
						</div>
						</form>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">{% trans "Submission history" %}</div>
						<div class="panel-body">
							<div class="submission-history">
								<ul class="submission-history-inner">{% spaceless %}
									<li class="submission-history-item">
										<div class="side"><i class="fa fa-code"></i></div>
										<a href="#">{% trans "Current version" %}</a><br>
										<span class="text-muted">{% trans "Just now" %}</span>
									</li>
								{% for i in "abcdef" %}
									<li class="submission-history-item">
										<div class="side {% cycle 'valid' 'invalid' %}"><i class="fa fa-check-circle-o"></i></div>
										<a href="#">Version #{{ i }}</a><br>
										<span class="text-muted">2015-06-12 08:49</span>
									</li>
								{% endfor %}{% endspaceless %}
								</ul>
							</div>
						</div>
					</div>

				{% else %}
					{% url 'users:register' as register %}
					{% url 'users:login' as login %}
					<p class="alert alert-warning">{% blocktrans with register as register %}You have to <a href="{{ register }}">register</a> or <a href="{{ login }}">log in</a> to be able to submit your solution.{% endblocktrans %}</p>
				{% endif %}
			</article>
		</div>

		<div class="col-md-3" role="complementary">
			<nav class="hidden-print hidden-xs hidden-sm sidebar-affix" id="problem-nav">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#statement">{% trans "Statement" %}</a></li>
					<li><a href="#constraints">{% trans "Runtime constraints" %}</a></li>
					<li><a href="#samples">{% trans "Input/output samples" %}</a></li>
					<li><a href="#submit">{% trans "Submit your solution" %}</a></li>
				</ul>
			</nav>
		</div>
	</div>

{% endblock %}

{% block extra_script %}
	<script type="text/javascript" charset="utf-8" src="{% static 'problems/lib/ace/src-min-noconflict/ace.js' %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'problems/lib/ace/src-min-noconflict/ext-themelist.js' %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'problems/js/code-editor.js' %}"></script>
	<script type="text/javascript">
	$(function() {
		// Affix navigation
		var $nav = $('#problem-nav');
		$nav.affix({
			offset: {
				top: function () {
					var c = $nav.offset().top - 20;
					wtf = c;
					return this.top = c;
				},
				bottom: function() {
					return this.bottom = $('footer').outerHeight(true);
				}
			}
		});
	});
	</script>
{% endblock %}