{% load i18n utils %}
<a class="list-group-item clearfix" href="{% url 'problems:problem' problem.challenge.year problem.challenge.event_type.name problem.name %}">
  <div class="col-sm-2 col-xs-2" style="padding: 0"><div class="progress" style="margin: 0"
     title="{% blocktrans with level=problem.difficulty %}Level {{ level }}{% endblocktrans %}">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ problem.percentage_difficulty }}" aria-valuemin="0"
       aria-valuemax="100" style="width: {{ problem.percentage_difficulty }}%;">
      <span class="progress-bar-fixed" style="color: #222">{{ problem.difficulty }}</span>
    </div>
  </div></div>
  <div class="col-sm-8 col-xs-10">{{ problem.title }}
  {% if show_challenge %}
    <small class="text-muted">({% blocktrans with challenge=problem.challenge.event_type|choiceenum_label year=problem.challenge.year %}{{ year }} {{ challenge }}{% endblocktrans %})</small>
  {% endif %}
  </div>
  {% if request.user.is_authenticated %}
    <div class="col-sm-2 col-xs-12 text-right" style="padding: 0">
    {% if problem.submission %}
      {% if problem.submission.succeeded %}
        <span class="badge alert-success">{% blocktrans with score=problem.submission.score %}{{ score }} pts{% endblocktrans %}</span>
      {% else %}
        <span class="badge alert-warning">{% trans "Failed" %}</span>
      {% endif %}
    {% else %}
      <span class="badge">{% trans "Not submitted" %}</span>
    {% endif %}
  </div>
  {% endif %}
</a>