{% extends "problems/base.html" %}
{% load humanize i18n staticfiles %}
{% load bootstrap django_bootstrap_breadcrumbs drupal markup rules utils %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "problems:challenge" challenge.year challenge.event_type.name %}{{ challenge.event_type|choiceenum_label }} {{ challenge.year }}{% endbreadcrumb_for %}
  {% breadcrumb problem.title "problems:problem" challenge.year challenge.event_type.name problem.name %}
  {% breadcrumb_for "" %}{% trans "Submission" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans with problem=problem.title %}Submission for {{ problem }}{% endblocktrans %} – {% blocktrans with type=challenge.event_type|choiceenum_label year=challenge.year context "Problem title, eg. 2015 Qualification" %}{{ type }} {{ year }}{% endblocktrans %}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/pygments-monokai.css' %}" media="screen"/>
{% endblock %}

{% block content %}
  <h1>{% blocktrans with problem=problem.title %}Submission for {{ problem }}{% endblocktrans %}
    <small>– <a href="{% url "problems:challenge" challenge.year challenge.event_type.name %}">{% blocktrans with type=challenge.event_type|choiceenum_label year=challenge.year context "Problem title, eg. 2015 Qualification" %}{{ type }} {{ year }}{% endblocktrans %}</a></small>
  </h1>

  <div class="row">
    <div class="col-md-9 col-sm-7">
      <p class="text-muted">
      {% if submission.submission.user != request.user %}{% blocktrans with username=submission.submission.user.username %}Submitted by <strong>{{ username }}</strong>{% endblocktrans %} ⋅{% endif %}
        {% blocktrans with lang=submission.get_language_display %}Programmed in <strong>{{ lang }}</strong>{% endblocktrans %}
        ⋅ {% blocktrans with date=submission.date_submitted|date:'DATETIME_FORMAT' short_date=submission.date_submitted|date:'c' %}Submitted on <strong title="{{ short_date }}">{{ date }}</strong>{% endblocktrans %}
      </p>
      <blockquote>
      {% if submission.summary %}
        {{ submission.summary }}
      {% else %}
        <em>{% trans "No summary." %}</em>
      {% endif %}
      </blockquote>
    </div>
    <div class="col-md-3 col-sm-5">
      <div class="panel panel-default">
        <div class="panel-body text-center {% if submission.succeeded %}bg-success{% elif submission.done %}bg-danger{% endif %}">
          <p class="{% if submission.succeeded %}text-success{% elif submission.done %}text-danger{% endif %}">
          {% if not submission.correctable %}
          <i class="fa fa-circle-o"></i> {% trans "Not correctable" %}
          {% elif submission.succeeded %}
          <i class="fa fa-check-circle text-success"></i> {% trans "Solution passes tests" %}
          {% elif submission.done %}
          <i class="fa fa-times-circle"></i> {% trans "Solution is invalid" %}
          {% else %}
          <i class="fa fa-clock-o"></i> {% trans "Not corrected yet" %}
          {% endif %}</p>
        {% if submission.done %}
          <p>{% trans "Points won" %} <span class="label label-{% if submission.succeeded %}success{% else %}danger{% endif %}">{{ submission.score }}</span></p>
          {% if submission.submission.has_malus %}
          <p>
            {% trans "Malus" %} <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="{% trans "Every time you submit a solution that fails (ie. does not compile or does not pass all the tests), malus points are increased by a value proportional to the problem level and the number of attempts." %}"></i>
            <span class="label label-danger">{{ submission.submission.malus }}</span>
          </p>
          {% endif %}
        {% endif %}
          <p><a href="{% url 'problems:problem' challenge.year challenge.event_type.name problem.name %}?fork={{ submission.pk }}#submit" class="btn btn-default"><i class="fa fa-pencil"></i> {% trans "Edit and submit again" %}</a></p>
        {% has_perm 'problems.recorrect_submission' request.user submission as user_can_recorrect %}
        {% if submission.correctable and not submission.has_result and user_can_recorrect %}
          <form action="{% url 'problems:submission-recorrect' submission.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-default"><i class="fa fa-refresh"></i>
              {% trans "Resend to correction" %}<br>
              <small class="text-muted" title="{% trans "Last corrected on" %}">{{ submission.date_corrected|date:'SHORT_DATETIME_FORMAT' }}</small>
            </button>
          </form>
        {% endif %}
        </div>
      </div>
    </div>
  </div> {# /row #}

  <div class="panel panel-default clearfix">
    <div class="panel-heading">
      <i class="fa" data-indicator="#submission-code"></i>
      <a role="button" data-toggle="collapse" href="#submission-code" aria-expanded="false" aria-controls="submission-code">{% trans "Solution code" %}</a></div>
    <div class="panel-body panel-collapse collapse" style="padding: 0;" id="submission-code" role="tabpanel" aria-labelledby="{% trans "Solution code" %}">
      {% pygmentize submission.code submission.language_enum.pygments_lexer %}
    </div>
  </div>

  {% if submission.has_result %}
  {% with results=submission.correction_results %}
  {% if results.compilation %}
  <div class="alert alert-{% if results.compilation.success %}success{% else %}warning{% endif %}">
    <p>
      <i class="fa fa-{% if results.compilation.success %}check{% else %}times{% endif %}-circle"></i>
      {{ results.compilation.human_status }}
    </p>
    {% if not results.compilation.success and results.compilation.stderr %}
      <p>{% trans "Compiler standard error output:" %}</p>
      <pre><code>{{ results.compilation.stderr|truncate:4000 }}</code></pre>
    {% endif %}
  </div>
  {% endif %}
  {% if not results.compilation or results.compilation.success %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa" data-indicator="#correction-tests"></i>
          <a role="button" data-toggle="collapse" href="#correction-tests" aria-expanded="true" aria-controls="correction-tests">{% trans "Correction tests" %}</a></div>
        <ul class="list-group collapse in" id="correction-tests" aria-labelledby="{% trans "Correction tests" %}">
          {% for result in results.correction %}
            {% include 'problems/stub_submission_result.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa" data-indicator="#performance-tests"></i>
          <a role="button" data-toggle="collapse" href="#performance-tests" aria-expanded="true" aria-controls="performance-tests">{% trans "Performance tests" %}</a></div>
        <ul class="list-group collapse in" id="performance-tests" aria-labelledby="{% trans "Performance tests" %}">
          {% for result in results.performance %}
            {% include 'problems/stub_submission_result.html' %}
          {% empty %}
            <li class="list-group-item"><em>{% trans "There are no such tests for this problem." %}</em></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {% elif not submission.correctable %}
    <p class="alert alert-info">{% blocktrans %}The submission can not be corrected as it was written in a language that can not be compiled nor executed.{% endblocktrans %}</p>
  {% elif submission.done %}
    <p class="alert alert-info">{% blocktrans %}Submission results are not available anymore. This is because the code was submitted a long time ago.
You can still try to submit your code again using the “Edit and submit again” button.{% endblocktrans %}</p>
  {% else %}
    <p class="alert alert-info">{% trans "This submission is pending correction. This can take from a few seconds to some minutes." %}</p>
    <noscript><div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> <div>{% trans "Your browser does not support Javascript. You will have to manually reload this page once in a while to check if results have arrived." %}</div></div></noscript>
  {% endif %}
{% endblock %}


{% block extra_script %}
  <script type="text/javascript" charset="utf-8">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  <script type="text/javascript" src="{% static 'js/collapse-indicator.js' %}"></script>
  {% if not submission.done and not submission.has_result %}
  {# if the submission is not corrected yet but we may get the result later #}
  <script type="text/javascript" charset="utf-8">
    function check_for_result() {
      $.getJSON('{% url 'problems:ajax-submission-corrected' submission.pk %}')
          .done(function(has_result) {
            if (has_result === true)
              window.location.reload();
            else
              setTimeout(check_for_result, {% get_setting 'PROBLEMS_RESULT_POLL_INTERVAL' %});
          });
    }
    check_for_result();
  </script>
  {% endif %}
{% endblock %}
