{% extends "prologin/base.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for 'documents:index' %}{% trans "Documents" %}{% endbreadcrumb_for %}
{% if year != None %}
  {% breadcrumb_for 'documents:index' year %}{{ year }}{% endbreadcrumb_for %}
{% endif %}
  {% breadcrumb_for 'documents:index' %}{% trans "Organizers Badges" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans %}Organizers Badges{% endblocktrans %}{% endblock %}

{% block content %}

  <h1>
    {% trans "Organizer Badges" %}
  </h1>
  <form action="" method="post">
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <input type="submit" value="{% trans "Submit" %}">
  </form>
{% endblock %}
      
