{% extends "forum/base.html" %}
{% load i18n static humanize markup bootstrap django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb_for "forum:index" %}{% trans "Forums" %}{% endbreadcrumb_for %}
	{% breadcrumb_for "forum:forum" forum.slug forum.pk %}{{ forum.name }}{% endbreadcrumb_for %}
	{% breadcrumb_for "forum:thread" forum.slug forum.pk thread.slug thread.pk %}{{ thread.title }}{% endbreadcrumb_for %}
	{% breadcrumb_for "forum:edit-post" thread.slug post.pk %}{% trans "Edit" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'lib/css/pygments-monokai.css' %}" media="screen"/>
	{{ block.super }}
{% endblock %}

{% block title %}{% trans "Edit post" %} – {{ thread.title }}{% endblock %}

{% block content %}
	<h1>{% trans "Edit post" %} <small>{% blocktrans with title=thread.title %}in {{ title }}{% endblocktrans %}</small></h1>

	<form method="POST">
		{% csrf_token %}
		{{ form|bootstrap }}
		<button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> {% trans "Save changes" %}</button>
	</form>

{% endblock %}
