{% extends "prologin/base.html" %}
{% load i18n %}
{% block title %}Forums{% endblock %}


{% block content %}

    <a href="/forum/{{url}}">{% blocktrans with category=cat_name %}Go back to {{ category }}{% endblocktrans %}</a>
    <h1>{{thread_name}}</h1>     
    <br>
	
    <ul>
        {% for post in posts %}
            <li>
                <!--<h3>{{post.title}}</h3>-->
                <p style="text-align: justify;">{{post.content}}</p>
				<div class="forum_image">
					{% if post.created_by.avatar %}
						<img class="avatar avatar-full" src="{{ post.created_by.avatar.url }}" alt="
							{% blocktrans with post.created_by.username as username %}{{ username }}'s staff picture{% endblocktrans %}"
							style="max-width: 100%"/>
					{% else %}
						<!--<i class="fa fa-user"></i>-->
						<br><br>
					{% endif %}
				</div>

                <div class="posted_by">
					<p>{% blocktrans with by=post.created_by on=post.created_on|date:"d F Y G:i" %}Posted by : {{by}}, the {{on}}{% endblocktrans %}</p>
				</div>				
            </li>
            {% empty %}
                <p class="empty">{% trans "Empty" %}</p>         
        {% endfor %}
    </ul>	 
	
	<br><br><br>
    
	{% if user.is_authenticated %}
		<div class="add_thread">
			<h3>{% trans "Add new thread" %}</h3>
		</div>
		<br>
		<form action="" method="post">
			<div class="forum_add">
				{% csrf_token %}
				{{ form.as_p}}
				<input type="submit" value="Submit" />
			</div>
		</form>
	{% else %}
		<p class="alert alert-warning">{% blocktrans with register as register %}You have to <a href="{{ register }}">register</a> or <a href="{{ login }}">log in</a> to be able to submit your solution.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}