{% extends "prologin/base.html" %}
{% load i18n  %}
{% block title %}Forums{% endblock %}

{% block content %}

    <a href="/forum/{{url}}">{% trans "Go Back to" %} {{cat_name}}</a>
    <h1>{{thread_name}}</h1>     
    <br>
	
    <ul>
        {% for post in posts %}
            <li>
                <!--<h3>{{post.title}}</h3>-->
                <p style="text-align: justify;">{{post.content}}</p>
				<div class="forum_image">
					{% if post.created_by.avatar %}
						<img class="avatar avatar-full" src="{{ post.created_by.avatar.url }}" alt="
							{% blocktrans with post.created_by.username as username %}{{ username }}'s staff picture{% endblocktrans %}"
							style="max-width: 100%"/>
					{% else %}
						<!--<i class="fa fa-user"></i>-->
						<br><br>
					{% endif %}
				</div>

                <div class="posted_by">
					<p>{% trans "Posted by :" %} {{post.created_by}}, the {{post.created_on}}</p>
				</div>				
            </li>
            {% empty %}
                <p class="empty">{% trans "Empty" %}</p>         
        {% endfor %}
    </ul>	 
	
	<br><br><br>
	<h3><b>{% trans "Add new thread" %}</b></h3>
	<br>
    
	{% if user.is_authenticated %}
		<form action="" method="post">
			<div class="forum_add">
				{% csrf_token %}
				{{ form.as_p}}
				<input type="submit" value="Submit" />
			</div>
		</form>
	{% else %}
		<p>{% trans "You have to be logged to add post !" %}</p>
    {% endif %}
{% endblock %}