{% extends "prologin/base.html" %}

{% block content %}

	<a href="/forum">Go Back to the index</a>
	<h1>{{catName}}</h1>
	<p>{{description}}</p>
	<br>
	
	<ul>
		{% for tread in threads %}
			<li>
				<h3><a href="{{slug}}/{{tread.slug}}">{{tread.name}}</a></h3>
				<p>Cr&eacute;&eacute; le : {{tread.created_on|date:"d F Y à G:i" }} par {{tread.created_by}}</p>
			</li>
			{% empty %} 
				<p class="empty">Empty</p>		
		{% endfor %}
	</ul> 
	
	<br><br><br>
	<h3><b>Ajouter un nouveau sujet de discussion</b></h3>
	<br>
	
	{% if not user.is_anonymous %}
		<form action="" method="post">
			{% csrf_token %}
			<div class="forum_add">
				{{ formThread.as_p }}
				{{ formPost.as_p }}
				<input type="submit" value="Submit" />
			</div>
		</form>
	{% else %}
		<p>You have to be logged to add a thread !</p>
    {% endif %}
	
{% endblock %}