{% extends "prologin/base.html" %}
{% load i18n %}
{% block title %}{% trans "Forums" %} - {{cat_name}}{% endblock %}

{% block content %}

	<a href="/forum">{% trans "Go Back to the index" %}</a>
	<h1>{{cat_name}}</h1>
	<p>{{description}}</p>
	<br>

	<ul>
		{% for tread in threads %}
			<li>
				<h3><a href="{{slug}}/{{tread.slug}}">{{tread.name}}</a></h3>
				<p>{% blocktrans with by=tread.created_by on=tread.created_on|date:"d F Y G:i" %}Posted by : {{by}}, the {{on}}{% endblocktrans %}</p>
				<div class="nb_stuff">
					<p>{% blocktrans with post_nb=tread.nb_post on=tread.last_edited_on|date:"d F Y G:i" by=tread.last_edited_by %}Posts : {{post_nb}}, Last post by : {{by}}, the {{on}}{% endblocktrans %}</p>
				</div>
			</li>
			{% empty %} 
				<p class="empty">{% trans "Empty" %}</p>		
		{% endfor %}
	</ul> 
	
	<br><br><br>
	
	{% if user.is_authenticated %}
		<div class="add_thread">
			<h3>{% trans "Add new thread" %}</h3>
		</div>
		<br>
		<form action="" method="post">
			{% csrf_token %}
			<div class="forum_add">
				{{ form_thread.as_p }}
				{{ form_post.as_p }}
				<input type="submit" value="Submit" />
			</div>
		</form>
	{% else %}
		<p class="alert alert-warning">{% blocktrans with register as register %}You have to <a href="{{ register }}">register</a> or <a href="{{ login }}">log in</a> to be able to submit your solution.{% endblocktrans %}</p>
    {% endif %}
	
{% endblock %}