{% extends "prologin/base.html" %}
{% load i18n bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Members" "#TODO" %}
	{% breadcrumb edited_user "users:profile" edited_user.id %}
	{% breadcrumb "Edit" "" %}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans with edited_user.username as username %}Editing {{ username }}'s profile{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{% blocktrans with edited_user.username as username %}Editing {{ username }}'s profile{% endblocktrans %}</h1>

{% include "users/as_staff_warning.html" %}

<p class="text-right"><a href="{% url 'users:edit_password' edited_user.pk %}" class="btn btn-default"><i class="fa fa-key"></i> {% trans "Change password" %}</a></p>

<form method="POST" enctype="multipart/form-data" class="form-horizontal">
	{% csrf_token %}
	{{ form|bootstrap_horizontal }}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input class="btn btn-primary" type="submit" value="{% trans "Save" %}">
		</div>
	</div>
</form>
{% endblock %}

{% block extra_script %}
	<script type="text/javascript">
	$(function() {
		$('#id_allow_mailing').on('change', function() {
			var allow_mailing = $(this).prop('checked');
			var $nl = $('#id_newsletter');
			$nl.prop('disabled', !allow_mailing);
			if (!allow_mailing)
				$nl.prop('checked', '');
		});
	});
	</script>
{% endblock %}