{% extends "prologin/base.html" %}
{% load i18n %}
{% load bootstrap django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "#TODO" %}{% trans "Members" %}{% endbreadcrumb_for %}
  {% breadcrumb edited_user "users:profile" edited_user.id %}
  {% breadcrumb_for "" %}{% trans "Edit" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans with edited_user.username as username %}Editing {{ username }}'s profile{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{% blocktrans with edited_user.username as username %}Editing {{ username }}'s profile{% endblocktrans %}</h1>

{% include "users/as_staff_warning.html" %}

<p class="pull-right"><a href="{% url 'users:edit_password' edited_user.pk %}" class="btn btn-default"><i class="fa fa-key"></i> {% trans "Change password" %}</a></p>
<p>{% trans "Don't forget to click “Save” at the bottom when you are done making changes." %}</p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% crispy form %}
  <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-save"></i> {% trans "Save" %}</button>
</form>

<div class="panel panel-danger" style="margin-top: 1em">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i> {% trans "Danger zone" %}</h3>
  </div>
  <div class="panel-body">
    {% if form.can_edit_profile %}
      <a href="{% url 'users:delete' edited_user.id %}" class="btn btn-danger">{% trans "Delete your account" %}</a>
    {% else %}
      <a href="#" class="btn btn-danger disabled">{% trans "Delete your account" %}</a>
      <p><small class="text-muted">{% trans "You cannot delete your account while participating to the contest. If needed, contact the staff." %}</small></p>
    {% endif %}
  </div>
</div>

{% endblock %}
