{% extends "prologin/base.html" %}
{% load static i18n bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Connexion" "users:login" %}
{% endblock breadcrumbs %}

{% block title %}{% trans "Connexion" %}{% endblock %}

{% block content %}

<h1>{% trans "Connexion" %}</h1>

<form method="POST" class="form-horizontal">
	{% csrf_token %}
	{{ form|bootstrap_horizontal }}
	<input type="hidden" name="next" value="{{ next }}" />
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input class="btn btn-primary" type="submit" value="{% trans "Connexion" %}">
		</div>
	</div>
</form>

{% endblock %}
