{% extends "prologin/base.html" %}
{% load i18n staticfiles rules %}
{% load django_bootstrap_breadcrumbs utils %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "" %}{% trans "Members" %}{% endbreadcrumb_for %}
  {% breadcrumb shown_user "users:profile" shown_user.id %}
{% endblock breadcrumbs %}

{% block title %}{% blocktrans with shown_user.username as username %}{{ username }}{% endblocktrans %}{% endblock %}

{% block content %}

  {% trans "<em>not provided</em>" as noinfo %}

  {% if shown_user.id == user.id or see_private %}
  <a href="{% url 'users:edit' shown_user.id %}" class="btn btn-default pull-right">
    <i class="fa fa-pencil"></i> {% trans "Edit profile" %}</a>
  {% endif %}

  <h1>{{ shown_user.username }}</h1>

  <div class="row">

    <div class="col-sm-4 col-md-3">

      <div class="avatar-container avatar-container-profile"
           title="{% blocktrans with shown_user.username as username %}{{ username }}'s profile picture{% endblocktrans %}"
           {% if shown_user.avatar %}style="background-image: url({{ shown_user.avatar.url }})"{% endif %}>
        {% if shown_user.picture %}
          <div class="avatar-container avatar-container-round"
               style="background-image: url({{ shown_user.picture.url }})"
               title="{% blocktrans with shown_user.username as username %}{{ username }}'s staff picture{% endblocktrans %}"></div>
        {% endif %}
      </div>

      <ul class="fa-ul text-break-word profile-info" style="margin-bottom: 1em">
        {% if see_private %}
          {% if shown_user.get_full_name %}
          <li title="{% trans "Full name" %}">
            <i class="fa fa-li fa-user"></i>
            <span class="text-capitalize">{{ shown_user.first_name }}</span>
            <span class="text-smallcaps">{{ shown_user.last_name }}</span>
          </li>
          {% endif %}
          {% if shown_user.phone %}
          <li title="{% trans "Phone number" %}">
            <i class="fa fa-li fa-phone"></i>
              <a href="tel:{{ shown_user.phone }}">{{ shown_user.phone|phone_number }}</a>
          </li>
          {% endif %}
          {% if shown_user.email %}
          <li title="{% trans "Email address" %}">
            <i class="fa fa-li fa-envelope-o"></i>
            <a href="email:{{ shown_user.email }}">{{ shown_user.email }}</a>
          </li>
          {% endif %}
          {% if shown_user.birthday %}
          <li title="{% trans "Birth day" %}"><i class="fa fa-li fa-birthday-cake"></i>
            {{ shown_user.birthday }}<br>
              <small class="text-muted">{{ shown_user.birthday|timesince }}</small>
          </li>
          {% endif %}
         {% if user.has_partial_address %}
          <li title="{% trans "Postal address" %}">
            <i class="fa fa-li fa-map-marker"></i>
            <address>
              {{ shown_user.address|linebreaksbr }}<br>
              {{ shown_user.postal_code }} {{ shown_user.city }}<br>
              {{ shown_user.country }}
            </address>
          </li>
          {% endif %}
        {% endif %}
        <li title="{% trans "Date joined" %}">
          <i class="fa fa-li fa-clock-o"></i>
          {% trans "Member for" %} {{ shown_user.date_joined|timesince }}
        </li>
      </ul>

    </div>

    <div class="col-sm-8 col-md-5 compact-headings">

      <h3>{% trans "Contest involvment" %}</h3>

      {% with shown_user.get_involved_contestants as user_contestants %}

        {% if user_contestants %}

          {% for contestant in user_contestants %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <table class="panel-title"><tbody><tr>
                  <td width="100%">{{ contestant.edition.year }}</td>
                  <td class="text-right">
                    <a href="{% url 'archives:index' %}#prologin-{{ contestant.edition.year }}"
                                            class="btn btn-default btn-xs">
                      <i class="fa fa-book"></i> {% trans "See archives" %}</a>
                  </td>
                </tr></tbody></table>
              </div>
              <div class="panel-body">
                <ul class="nav nav-stacked fa-ul">
                  <li><i class="fa fa-li fa-asterisk"></i> {% trans "Completed the qualification step" %}</li>
                  {% if contestant.edition.qualification_corrected %}
                    {% if contestant.is_assigned_for_semifinal or contestant.has_abandoned_semifinal %}
                      <li class="text-success"><i class="fa fa-li fa-check"></i> {% trans "Selected for regional events" %}</li>
                      {% if contestant.has_abandoned_semifinal %}
                        <li><i class="fa fa-li fa-asterisk"></i> {% trans "Abandoned the regional events" %}</li>
                      {% endif %}
                      {% if contestant.completed_semifinal %}
                        <li><i class="fa fa-li fa-asterisk"></i> {% trans "Competed in the regional events" %}</li>
                        {% if contestant.edition.semifinal_corrected and contestant.is_assigned_for_final %}
                          <li class="text-success"><i class="fa fa-li fa-check"></i> {% trans "Selected for the final" %}</li>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </ul>
              </div>
              {% has_perm 'contest.can_download_home' request.user contestant as can_download_home %}
              {% if contestant.has_home and can_download_home %}
              <div class="panel-footer">
                 <a href="{% url 'users:download-final-home' shown_user.pk contestant.edition.year %}"
                    class="btn btn-default btn-xs btn-contestant-home">
                   <i class="fa fa-cloud-download"></i>
                   {% blocktrans with size=contestant.home_size|human_file_size %}Download final home (tar.gz, {{ size }}){% endblocktrans %}
                </a>
              </div>
              {% endif %}
            </div>
          {% endfor %}

        {% else %}

          <p class="text-muted"><i class="fa fa-fw fa-frown-o"></i>
            <em>{% blocktrans with shown_user.username as username %}Sadly, {{ username }} did not take part in any Prologin edition yet.{% endblocktrans %}</em>
          </p>

        {% endif %}
      {% endwith %}

    </div>

    <div class="col-sm-12 col-md-4 compact-headings">

      {% with shown_author.entries_published.all as entries_published %}
        {% if entries_published %}
          <h3>{% trans "Latest authored news entries" %}</h3>
          <ul class="nav nav-stacked">
            {% for entry in entries_published|slice:":5" %}
              <li><a href="{{ entry.get_absolute_url }}">
                <span class="text-muted">{{ entry.creation_date|date:"DATE_FORMAT" }} ⋅</span> {{ entry.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% with shown_user.team_memberships.all as team_memberships %}
        {% if team_memberships %}
          <h3>{% trans "Staff roles" %}</h3>
          {% spaceless %}{% for membership in team_memberships|dictsortreversed:'year' %}
            <a href="{% url 'team:year' membership.year %}#m{{ shown_user.pk }}"
               class="btn btn-default staff-flair staff-flair-{{ membership.role.name|slugify }}">
              {% blocktrans with year=membership.year role=membership.role_name %}{{ year }} ⋅
                {{ role }}{% endblocktrans %}</a>
          {% endfor %}{% endspaceless %}
        {% endif %}
      {% endwith %}

    </div>

  </div>

  {% has_perm 'users.takeout' user shown_user as can_takeout %}
  {% if can_takeout %}
  <div class="panel panel-info" style="margin-top: 1em">
    <div class="panel-heading">
      <h3 class="panel-title"> {% trans "Account management" %}</h3>
    </div>
    <div class="panel-body">
      <table class="table table-noborder table-align-middle"><tbody>
        <tr>
          <td>
            <a href="{% url 'users:takeout' shown_user.id %}"
               class="btn btn-block btn-info">
              <i class="fa fa-download"></i>
              {% trans "Export your personal data" %}
            </a>
          </td>
          <td>
            {% blocktrans %}
            You can download an archive containing all your personal data, as
            provided by your Right to data portability (Art. 20 of GDPR).
            {% endblocktrans %}
          </td>
        </tr>

        <tr>
          <td>
            <a
               {% if view.can_edit_profile %}
                 href="{% url 'users:delete' shown_user.id %}"
                 class="btn btn-block btn-danger"
               {% else %}
                 href="#"
                 class="btn btn-block btn-danger disabled"
               {% endif %}
            >
              <i class="fa fa-exclamation-triangle"></i>
              {% trans "Delete your account" %}
            </a>
        </td>
        <td {% if not view.can_edit_profile %}class="text-muted"{% endif %}>
          {% blocktrans %}
          You can delete your account and all associated personal data, as
          provided by your Right to erasure (Art. 17 of GDPR).
          {% endblocktrans %}
          {% if not view.can_edit_profile %}
            <strong>{% blocktrans %}
              You cannot delete your account while participating to the
              contest. If needed, contact the staff.
            {% endblocktrans %}</strong>
          {% endif %}
        </td>
      </tr></tbody></table>
    </div>
  </div>
  {% endif %}

{% endblock %}
