{% extends "prologin/base.html" %}
{% load static i18n bootstrap%}

{% block title %}Création d'un nouveau compte utilisateur{% endblock %}

{% block content %}
<h1>Création d'un nouveau compte utilisateur</h1>

{% if errors %}
<div class="alert alert-danger">
  {{ errors }}
</div>
{% endif %}
<form method="post" action="{% url 'users:register' %}?next={{ next }}">
  {% csrf_token %}
  {{ register_form|bootstrap_horizontal }}
  <input type="submit" value="{% trans 'Register' %}">
</form>
{% endblock %}
