{% extends "prologin/base.html" %}
{% load static i18n bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for "users:register" %}{% trans "Register" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}
<h1>{% trans "Register" %}</h1>

<p>{% trans "Please choose a username. You must use a valid email address, as you will recieve a message to confirm your registration." %}</p>

<form method="POST" class="form-horizontal" action="{% url 'users:register' %}?next={{ next }}">
  {% csrf_token %}
  {{ form|bootstrap_horizontal }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input class="btn btn-primary" type="submit" value="{% trans "Register" %}">
    </div>
  </div>
</form>
{% endblock %}
