@import url(http://fonts.googleapis.com/css?family=Roboto:700,300);

/*
 * Page layout
 */

html, body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #494949;
	text-rendering: optimizelegibility;
}

.main-row {
	margin-right: 0;
	padding-left: 20px;
}

#content-block {
	padding: 0;
	background-color: white;

	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;

	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#content-block > div {
	padding: 10px;
}

footer {
	/*
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 120px;
	*/
	margin-top: 30px;
	padding: 30px;
	color: #efefef;
	background: url('../img/footer.png') repeat;
}

footer h3 {
	font-size: 1em;
}

footer .nav > li > a {
	padding: 5px 15px;
}

footer a,
footer a:visited {
	color: #ccc;
	font-size: 0.9em;
}

footer a:hover {
	color: #333;
}

footer a .fa.fa-inverse {
	color: #ccc;
}

footer a:hover .fa.fa-inverse {
	color: #efefef;
}

footer a.social,
footer a.social:hover {
	text-decoration: none;
}

footer .legal {
	margin: 10px 0;
	font-size: 0.8em;
	text-align: center;
	font-variant: small-caps;
}

/*
 * Header
 */

.navbar-default {
	min-height: 90px;
	background: none;
	border: none;
	background: #35479a;
	border-radius: 0;
}

.navbar-default .navbar-brand {
	height: 90px;
	padding: 15px 0;
	line-height: 1;
	font-size: 1.6em;
}

.navbar-default .navbar-brand small {
	font-size: 0.6em;
	display: block;
}

.navbar-default .navbar-brand a, .navbar-default .navbar-brand a:visited {
	display: block;
	position: relative;
	padding-top: 8px;
	padding-left: 65px;
	color: #fefefe;
	text-decoration: none;
}

.navbar-default .navbar-brand a img {
	position: absolute;
	left: 0;
	top: 0;
}

.navbar-header {
	float: none;
}

.navbar-default .navbar-toggle {
	margin: 27px 15px 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fefefe;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #7389AE;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
	margin-right: 0;
}

.navbar-default .navbar-collapse {
	box-shadow: none;
}

.navbar-default .navbar-nav {
	margin-top: 19px;
}

.navbar-default .navbar-nav > li > a {
	color: #fefefe;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #fefefe;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		background: #7389AE;
	}
}

.navbar-default .collapsing .navbar-nav > li.sep,
.navbar-default .in .navbar-nav > li.sep {
	display: none;
}

.navbar-default .navbar-nav > li.sep > a, .navbar-default .navbar-nav > li.sep > a:hover {
	cursor: default;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	color: #fefefe;
	background-color: #7389AE;
}

.navbar-default .dropdown-menu {
	border-radius: 0;
	border: none;
	padding: 0;
}

.navbar-default .dropdown-menu li.divider {
	margin: 0;
}

.navbar-default .dropdown-menu li a {
	padding: 8px 20px;
}

.navbar-default .dropdown-menu li a:hover {
	background: #7389AE;
	color: #fefefe;
}

/*
 * Breadcrumbs
 */

.breadcrumb > li {
	font-size: 0.8em;
}

.breadcrumb > li > a,
.breadcrumb > li > a:visited {
	color: #737ab9;
	text-shadow: none;
}

.breadcrumb > li + li:before {
	color: #737ab9;
	content: "\203a";
}

/*
 * Left column
 */

#menu-title, #login-title {
	margin-bottom: 0;
	padding: 5px;
	background-color: #202b66;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	color: #fff;
}

#main-menu, #login-wrapper {
	border: 1px solid #202b66;
}

#login-wrapper {
	padding: 10px;
}

#main-menu, #main-menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#main-menu li {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #c6c9d8;
}

#main-menu a, .menu-main-elem {
	display: block;
	padding: 5px 10px 5px 10px;
}

.menu-main-elem {
	color: #33449d;
	cursor: pointer;
}

#main-menu .sub-menu a {
	background-color: #f1f2f2;
}

#main-menu a:hover, .menu-main-elem:hover, #main-menu .menu-current > a {
	background-color: #202b66;
	color: white;
	text-decoration: none;
}

#main-menu > .menu-collapsed {
}

#main-menu > .menu-expanded {
}

#main-menu a, #latest-news a {
	font-family: Helvetica, Arial, sans-serif;
	color: #33449d;
}

#latest-news {
	margin-left: 0;
	padding-left: 0;
}

#latest-news li {
	list-style-type: none;
}

#latest-news-pagination .active > a {
	color: #33449d;
	background-color: #fff;
	border-color: #ddd;
}

/*
 * Right column
 */

#sponsors-lst {
	margin: 0;
	padding: 10px 0;
	list-style-type: none;
}

#sponsors-lst > li {
	margin: 0;
	padding: 10px;
}

.social-bar {
	margin-bottom: 10px;
}

/*
 * Team
 */

.team-member {
	min-height: 80px;
}

.team-member-avatar {
	display: inline-block;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background-image: url('../img/silhouette.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 64px auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*
 * News
 */
.entry-meta-line:before {
	content: '\f10d';
	font-family: 'FontAwesome';
	position: absolute;
	left: .7em;
}

.entry-meta-line {
	position: relative;
	padding-left: 2em;
	/*border-left: 4px solid #ddd;*/
	/*border-radius: 0 0 0 8px;*/
}

.news-entry {
	border-bottom: 1px solid #ddd;
}

.news-entry:last-child {
	border: none;
}

/*
 * Misc
 */

.alert .glyphicon, .alert .fa, .alert button.close {
	display: table-cell;
}

.alert div, .alert span {
	padding-left: 8px;
	display: table-cell;
}

.align-left {
	text-align: left;
}

.sponsor {
	width: 100%;
	max-width: 220px;
}

@media (min-width: 768px) {
	.dl-horizontal dt {
		white-space: normal; /* the stupid bootstrap think it's a good idea to ellipsis the overflow */
	}
}

.avatar.avatar-full {
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.bgcont {
	padding: 1.5em;
	padding-top: 2em;
	position: relative;
	z-index: 0;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 1em;
}

.dl-horizontal.dl-narrow dt {
	width: 5em;
}

@media (min-width: 768px) {
	.dl-horizontal.dl-narrow dd {
		margin-left: 6em;
	}
}

.bgcont:after {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	z-index: -1;
}

.bgcont.bgcont-title {
	min-height: 12em;
}
.bgcont.bgcont-title:after {
	background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
}

.presentation-body p, .presentation-body h1, .presentation-body h2, .presentation-body h4 {
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.presentation-body h4 {
	font-weight: bold;
}

.presentation-body h2 {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0.4em;
}

.presentation-body .btn-default {
	text-shadow: none;
}

.organization-team-box {
	text-align: center;
	line-height: 1.2;
	margin-bottom: 1em;
}

.challenge-group {
	margin: 0.5em;
	padding: 0;
	border: 1px solid #4155c0;
	position: relative;
}
.challenge-group .challenge-year {
	background: #4155c0;
	position: absolute;
	width: 80px;
	top: 0;
	bottom: 0;
	left: 0;
	color: white;
	float: left;
	text-align: center;
	font-size: 1.2em;
	line-height: 2;
}

.challenge-event-list {
	list-style-type: none;
	margin: 0 0 0 80px;
	padding: 0;
}
.challenge-event-list li a {
	display: block;
	padding: 0.4em 1em;
	border-bottom: 1px solid #4155c0;
	text-decoration: none;
	color: #4155c0;
}
.challenge-event-list li a:hover, .challenge-event-list li a:active {
	color: white;
	background-color: #4155c0;
}
.challenge-event-list li:last-child a {
	border-bottom: none;
}

.multiple-checkbox ul {
	list-style-type: none;
}

.multiple-checkbox ul li {
	float: left;
}
